<main>
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section section-lg section-shaped pb-250">
            <div class="shape shape-style-1 shape-unam-azul">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="container py-lg-md d-flex">
                <div class="col px-0">
                    <div class="row">
                        <div class="col-lg-12 text-white">
                            <h1 class="display-3  text-white">Pago y registro al Congreso</h1>

                            <h2>CRONOGRAMA FECHA</h2>
                            <img src="./assets/congreso/cronograma-fechas.png" class="img-fluid">
                            <br><br>

                            <h2>REGISTRO</h2>
                            <h3>REGISTRO y PAGO de INSCRIPCIONES</h3>
                            <p>El pago de inscripción se llevará a cabo a partir del siguiente calendario y cuotas
                                especificadas:</p>
                            <p class="text-center">Tabla 1. <strong>Costos del congreso</strong> </p>
                            <img src="./assets/congreso/costos.png" class="img-fluid">

                            <br><br>
                            <p class="text-center">Tabla 2. <strong>Costos de los <strong> procesadores</strong> de pago
                                    en
                                    línea</strong> </p>
                            <img src="./assets/congreso/costos-procesadores.png" class="img-fluid">
                            <br><br>

                            <h2>PROCESO PARA EL REGISTRO</h2>
                            <h3>Pago y registro al Congreso</h3>

                            <ol>
                                <li>Realiza tu pago
                                    <p>Primero deberás realizar tu pago al Congreso conforme a las siguientes fechas:
                                    </p>
                                    <h4>Del 15 de octubre de 2020 al 15 de enero de 2021 </h4>
                                    <p>Registro y pago para presentación oral en las mesas de trabajo:
                                        <a class="text-white" style="text-decoration: underline;"
                                            href="https://wechamber.mx/eventos/5f31a3f95ff84b00080f68f2"
                                            target="_blank">
                                            https://wechamber.mx/eventos/5f31a3f95ff84b00080f68f2
                                        </a>
                                    </p>

                                    <h4>Del 15 de octubre de 2020 al 15 de febrero de 2021 </h4>
                                    <p>Registro y pago para asistencia y participar en el al congreso en:
                                        <a class="text-white" style="text-decoration: underline;"
                                            href="https://wechamber.mx/eventos/5f31a5525ff84b00080f6904"
                                            target="_blank">
                                            https://wechamber.mx/eventos/5f31a5525ff84b00080f6904
                                        </a>
                                    </p>

                                    <br><br>

                                    <h3>PARA PAGOS INTERNACIONALES: </h3>
                                    <p>La plataforma <i> WeChamber </i>recibe pagos internacionales, ya que realiza la
                                        conversión a pesos
                                        mexicanos.
                                        El registro deberá realizarse de la misma manera, y el pago se deberá efectuar
                                        <strong>con tarjeta de crédito o débito. </strong></p>

                                    <ol>
                                        <li> Emisión de factura</li>
                                        <p>Al registrar tus datos en <i> WeChamber </i> en el apartado ¿Requiere
                                            factura?
                                            Deberás seleccionar
                                            la casilla para que te permita llenar todos tus datos fiscales. </p>
                                    </ol>

                                </li>
                                <br><br><br>
                                <li>Realiza tu registro
                                    <p>Una vez realizado tu pago y que éste haya sido validado, recibirás el link de
                                        registro al Congreso,
                                        el cual se realizará mediante un formulario de Google. Este link lo recibirás
                                        las
                                        próximas 24 horas
                                        posteriores a través de la cuenta:
                                        <a class="text-white" style="text-decoration: underline;"
                                            href="coviie@enes.unam.mx" target="_blank">
                                            coviie@enes.unam.mx .
                                        </a>
                                    </p>
                                </li>
                                <br><br><br>
                                <li>Datos de acceso
                                    <p>Después de que realizas tu registro (<a class="text-white" style="text-decoration: underline;"
                                            target="_blank" [routerLink]="['/inscripcion']"
                                            >
                                            Formato Inscripción al COVIIEE
                                        </a>),
                                        recibirás por medio de la cuenta
                                        <a class="text-white" style="text-decoration: underline;"
                                            href="coviie@enes.unam.mx" target="_blank">
                                            coviie@enes.unam.mx
                                        </a>
                                        tus datos de acceso a la
                                        plataforma Moodle. </p>

                                    <p>La <strong>cuota</strong> del <strong>congreso incluye:</strong> </p>
                                    <ol>
                                        <li>Acceso a toda la programación acto inaugural y clausura, conferencias y
                                            ponencias magistrales, mesas de trabajo y eventos culturales, las 24 horas
                                            del día (sincrónica o asincrónica). </li>
                                        <li>Acceso a la plataforma Moodle para la realización de actividades como
                                            asistente, participante y presentación oral o asistente a las mesas de
                                            trabajo. </li>
                                        <li>Constancias con valor curricular de acuerdo al tipo de participación y que
                                            se mencionan en el punto 4. </li>
                                        <li>En caso de participar con manuscrito(s) para presentación oral en las mesas
                                            de trabajo éste(os) aparecerá(n) en una publicación electrónica como libro
                                            independiente. </li>

                                    </ol>

                                    <p>Los <strong> mejores manuscritos </strong> seleccionados por el <strong> Comité
                                            Científico </strong> serán sometidos a
                                        la valoración en el cumplimiento de los criterios establecidos por las
                                        siguientes revistas para su posible publicación:
                                    </p>
                                    <p>
                                        <strong> Revista científica Entreciencias</strong>. Número especial <strong><i>
                                                “Innovación Educativa y
                                                Equidad”</i></strong>. Agosto, 2021. Mayor información de la revista:
                                        <a class="text-white" style="text-decoration: underline;"
                                            href="http://revistas.unam.mx/index.php/entreciencias" target="_blank">
                                            http://revistas.unam.mx/index.php/entreciencias
                                        </a>
                                    </p>
                                    <p><strong> Revista Innoeduca</strong>. Internacional Journal of Technology and
                                        Educational
                                        Innovation. 2022
                                        <a class="text-white" style="text-decoration: underline;"
                                            href="https://revistas.uma.es/index.php/innoeduca/index" target="_blank">
                                            https://revistas.uma.es/index.php/innoeduca/index
                                        </a>
                                    </p>
                                </li>
                                <br><br><br>

                                <li>
                                    Constancias
                                    <p>La emisión de constancias se realizará para los siguientes tipos de
                                        participación: </p>

                                    a) Asistencia. <br>
                                    b) Participación en el congreso. <br>
                                    c) Participación oral en mesas de trabajo. <br>

                                    <p>Para obtener las constancias deberán realizar las actividades académicas
                                        programadas para cada una de las opciones mencionadas, mismas que le serán
                                        precisadas y notificadas, una vez confirmado su registro. </p>
                                    <p>Las constancias serán enviadas una vez finalizado el Congreso y hasta el 28 de
                                        febrero de 2021 a través de la cuenta:
                                        <a class="text-white" style="text-decoration: underline;"
                                            href="coviie@enes.unam.mx" target="_blank">
                                            coviie@enes.unam.mx
                                        </a>
                                    </p>

                                    <ol>
                                        <li>Requisitos para la obtención de constancias de los asistentes al Congreso
                                        </li>
                                        <p>Realizar un mínimo de <strong> tres intervenciones </strong> de los trabajos
                                            presentados en la
                                            plataforma Moodle (uno por día). Las participaciones deben desarrollarse a
                                            partir un análisis reflexivo del trabajo y/o comentario u observación,
                                            atendiendo las especificaciones del <i> Formato de Asistencia </i> para
                                            realizar la
                                            actividad, ubicado en la plataforma.</p>
                                    </ol>

                                    <ol>
                                        <li>
                                            Requisitos para la obtención de constancias de participación al Congreso
                                        </li>
                                        <p>
                                            Efectuar las actividades que se solicitan en el <i> Formato de
                                                Participación</i>, atendiendo las especificaciones, ubicado en la
                                            plataforma.
                                        </p>
                                    </ol>



                                </li>
                                <br><br><br>
                                <li>
                                    Registro de participaciones orales para mesas de trabajo.

                                    <h5>Conoce con detenimiento los criterios en la elaboración de manuscritos para la
                                        participación oral (
                                            <!-- href="aaa" -->
                                        <a class="text-white" style="text-decoration: underline;"  [routerLink]="['/criterios']"
                                            target="_blank">
                                            Criterios elaboración de manuscrito para participación oral
                                        </a>
                                        ) </h5>
                                    <img src="./assets/congreso/criterios-manuscritos.png" class="img-fluid">


                                    <br><br>
                                    <ol>
                                        <li>Difusión de manuscritos y planeación de presentaciones orales
                                            <p>Los manuscritos de las presentaciones orales aceptadas, se incorporarán
                                                en la plataforma Moodle del Congreso en el eje temático en el que sean
                                                aceptados para que puedan ser consultadas de manera asincrónica. Las
                                                presentaciones orales se programarán en tiempo real (12:00 a 14:00 horas
                                                de México) el día asignado a la mesa de trabajo del eje temático en el
                                                que participarán. Los lineamientos y criterios de presentación, se
                                                encontrarán señalados en el Formato <i> Confirmación de presentaciones
                                                    orales</i>.</p>

                                            <p>
                                                Todos los manuscritos se publicarán en formato electrónico. Los <strong>
                                                    trabajos
                                                    seleccionados </strong> como <strong> sobresalientes </strong> por
                                                el Comité Científico serán
                                                sometidos a la valoración en el cumplimiento de los criterios
                                                establecidos por las siguientes revistas para su posible publicación.
                                            </p>
                                            <ul>
                                                <li>
                                                    <strong> Revista científica Entreciencias</strong>. Número especial
                                                    <strong><i> “Innovación
                                                            Educativa y Equidad”</i></strong>. Agosto, 2021. Mayor
                                                    información de la revista:
                                                    <a class="text-white" style="text-decoration: underline;"
                                                        href="http://revistas.unam.mx/index.php/entreciencias"
                                                        target="_blank">
                                                        http://revistas.unam.mx/index.php/entreciencias
                                                    </a>

                                                </li>
                                                <li>
                                                    <strong> Revista Innoeduca</strong>. Internacional Journal of
                                                    Technology and
                                                    Educational Innovation. 2022, Mayor información de la revista:
                                                    <a class="text-white" style="text-decoration: underline;"
                                                        href="https://revistas.uma.es/index.php/innoeduca/index"
                                                        target="_blank">
                                                        https://revistas.uma.es/index.php/innoeduca/index
                                                    </a>

                                                </li>
                                            </ul>

                                           
                                    </ol>
                                </li>


                            </ol>



                            <!-- <ol class="text-white">
                <li>Realiza tu pago</li>
                <p>Primero deberás realizar tu pago al Congreso conforme a las siguientes fechas:</p>
                <ul>
                  <li>Del 15 de octubre de 2020 al 15 de enero de 2021</li>
                  <p>Registro y pago para presentación oral en las mesas de trabajo:
                    <a class="text-white" style="text-decoration: underline;" href="https://wechamber.mx/eventos/5f31a3f95ff84b00080f68f2" target="_blank">
                      en este enlace
                    </a>
                  </p>

                  <li>Del 15 de octubre de 2020 al 15 de febrero de 2021</li>
                  <p>Registro y pago para asistencia y participaación en el Congreso:
                    <a class="text-white" style="text-decoration: underline;" href="https://wechamber.mx/eventos/5f31a5525ff84b00080f6904" target="_blank">
                      en este enlace
                    </a>
                  </p>

                </ul>
              </ol> -->

                        </div>

                    </div>
                </div>
            </div>
            <!-- SVG separator -->
            <div class="separator separator-bottom separator-skew">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                    xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </section>
        <!-- 1st Hero Variation -->
    </div>



</main>