<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-unam-azul">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="display-3  text-white">Pago y registro al Congreso</h1>
              
              <ol class="text-white">
                <li>Realiza tu pago</li>
                <p>Primero deberás realizar tu pago al Congreso conforme a las siguientes fechas:</p>
                <ul>
                  <li>Del 15 de octubre de 2020 al 15 de enero de 2021</li>
                  <p>Registro y pago para presentación oral en las mesas de trabajo:
                    <a class="text-white" style="text-decoration: underline;" href="https://wechamber.mx/eventos/5f31a3f95ff84b00080f68f2" target="_blank">
                      en este enlace
                    </a>
                  </p>

                  <li>Del 15 de octubre de 2020 al 15 de febrero de 2021</li>
                  <p>Registro y pago para asistencia y participaación en el Congreso:
                    <a class="text-white" style="text-decoration: underline;" href="https://wechamber.mx/eventos/5f31a5525ff84b00080f6904" target="_blank">
                      en este enlace
                    </a>
                  </p>

                </ul>
              </ol>
              
            </div>
         
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>



</main>