<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-unam-oro">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3  text-white">Comité Científico
                <span>Una visión integradora desde las IES</span>
              </h1>
              <p class="lead text-white">El Congreso Virtual Internacional de INNOVACIÓN Y EQUIDAD EDUCATIVA tiene como
                objetivo crear un espacio de intercambio de
                <span class="text-unam-azul"><strong> experiencias</strong></span> de
                <span class="text-unam-azul"><strong> innovaciones</strong></span> e <span
                  class="text-unam-azul"><strong> investigaciones</strong></span>,
                desarrolladas en torno a la innovación y equidad en las instituciones de educación superior.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  <section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">




          <!-- #region enes leon -->
          <p class="subtitle fancy"><span>ENES León</span></p>
          <br><br>
          <div class="row row-grid">
            <div class="col-lg-6">
              <div class="card card-lift--hover shadow border-0">
                <a class="" href="" data-toggle="modal" data-target="#conf1">
                  <img class="conf" src="../../../../assets/img/images/persons/001_00 2.jpg" alt="">
                </a>
              </div>
              <!-- <div class="card card-lift--hover shadow border-0">
                    <div style="width: 100%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1200px" height="675px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5ed6cc3bf610f80d997a04e4" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
                </div> -->
            </div>
            <div class="col-lg-6">
              <div class="card card-lift--hover shadow border-0">
                <a class="" href="" data-toggle="modal" data-target="#conf2">
                  <img class="conf" src="../../../../assets/img/images/persons/001_00 2.jpg" alt="">
                </a>
              </div>
            </div>

          </div>

          <div class="row row-grid">
            <div class="col-lg-6">
              <div class="card card-lift--hover shadow border-0">
                <a class="" href="" data-toggle="modal" data-target="#conf3">
                  <img class="conf" src="../../../../assets/img/images/persons/001_00 2.jpg" alt="">
                </a>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card card-lift--hover shadow border-0">
                <a class="" href="" data-toggle="modal" data-target="#conf4">
                  <img class="conf" src="../../../../assets/img/images/persons/001_00 2.jpg" alt="">
                </a>
              </div>
            </div>

          </div>
          <!-- #endregion -->


          <br><br><br><br>
          <!-- #region codeic -->
          <p class="subtitle fancy"><span>CODEIC</span></p>
          <div class="row row-grid">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
              Dr. Melchor Sánchez Mendiola
              <div class="card card-lift--hover shadow border-0">
                <a class="" href="" data-toggle="modal" data-target="#conf-melchor">
                  <img class="conf" src="../../../../assets/img/images/persons/001_00 2.jpg" alt="">
                </a>
              </div>
            </div>
            <div class="col-lg-3"></div>
          </div>
          <!-- #endregion -->


          <br><br><br><br>
          <!-- #region enes merida -->
          <p class="subtitle fancy"><span>ENES Mérida</span></p>
          <div class="row row-grid">
            <div class="col-lg-6">
              Dr. Francisco Xavier Chiappa Carrara
              <div class="card card-lift--hover shadow border-0">
                <a class="" href="" data-toggle="modal" data-target="#conf-chiappa">
                  <img class="conf" src="../../../../assets/img/images/persons/001_00 2.jpg" alt="">
                </a>
              </div>
            </div>
            <div class="col-lg-6">
              <!-- <strike> Dr. Erik Granados</strike> -->
              <div class="card card-lift--hover shadow border-0">
                <div style="width: 100%;">
                  <div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe
                      frameborder="0" width="1200px" height="675px"
                      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                      src="https://view.genial.ly/5ed6d27655d98e0d8841e0f6" type="text/html" allowscriptaccess="always"
                      allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div>
                </div>
              </div>
            </div>
          </div>
          <!-- #endregion -->




          <br><br><br><br>
          <!-- #region enes morelia -->
          <p class="subtitle fancy"><span>ENES Morelia</span></p>
          <div class="row row-grid">
            <div class="col-lg-6">
              Dr. Mario Rodríguez Martínez
              <div class="card card-lift--hover shadow border-0">
                <a class="" href="" data-toggle="modal" data-target="#conf-mario">
                  <img class="conf" src="../../../../assets/img/images/persons/001_00 2.jpg" alt="">
                </a>
              </div>
            </div>
            <div class="col-lg-6">
              <!-- <strike> Dr. Luis Sevín Garcidueñas</strike> -->
              <div class="card card-lift--hover shadow border-0">
                <div style="width: 100%;">
                  <div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe
                      frameborder="0" width="1200px" height="675px"
                      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                      src="https://view.genial.ly/5ed6d27655d98e0d8841e0f6" type="text/html" allowscriptaccess="always"
                      allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div>
                </div>
              </div>
            </div>
          </div>
          <!-- #endregion -->


          <br><br><br><br>
          <!-- #region enes juriquilla -->
          <p class="subtitle fancy"><span>ENES Juriquilla</span></p>
          <div class="row row-grid">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
              Dr. Raúl Gerardo Paredes Guerrero
              <div class="card card-lift--hover shadow border-0">
                <a class="" href="" data-toggle="modal" data-target="#conf-paredes">
                  <img class="conf" src="../../../../assets/img/images/persons/001_00 2.jpg" alt="">
                </a>
              </div>
            </div>
            <div class="col-lg-3"></div>
          </div>
          <!-- #endregion -->



          <br><br><br><br>
          <!-- #region malaga -->
          <p class="subtitle fancy"><span>Universidad de Málaga, España</span></p>
          <div class="row row-grid">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
              Dr. Julio Ruiz Palmero
              <div class="card card-lift--hover shadow border-0">
                <a class="" href="" data-toggle="modal" data-target="#conf-palmero">
                  <img class="conf" src="../../../../assets/img/images/persons/001_00 2.jpg" alt="">
                </a>
              </div>
            </div>
            <div class="col-lg-3"></div>
          </div>
          <!-- #endregion -->



          <br><br><br><br>
          <!-- #region bosque colombia -->
          <p class="subtitle fancy"><span>Universidad del Bosque, Colombia</span></p>
          <div class="row row-grid">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
              Dra. María Clara Rangel Galvis
              <div class="card card-lift--hover shadow border-0">
                <a class="" href="" data-toggle="modal" data-target="#conf-rangel">
                  <img class="conf" src="../../../../assets/img/images/persons/001_00 2.jpg" alt="">
                </a>
              </div>
            </div>
            <div class="col-lg-3"></div>
          </div>
          <!-- #endregion -->


        </div>
      </div>
    </div>
  </section>

  <!-- Modal -->
  <div class="modal fade bd-example-modal-lg" id="conf1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img class="logo" src="./assets/img/images/logo-color.png">
          <h2 class="modal-title">Dra. Laura Susana Acosta Torres</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Pendiente
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade bd-example-modal-lg" id="conf2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img class="logo" src="./assets/img/images/logo-color.png">
          <h2 class="modal-title" id="conf1">Dr. Javier de la Fuente Hernández</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          Pendiente

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade bd-example-modal-lg" id="conf3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img class="logo" src="./assets/img/images/logo-color.png">
          <h2 class="modal-title" id="conf1">Dra. Adriana Martínez de Wurtz</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          Pendiente

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade bd-example-modal-lg" id="conf4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img class="logo" src="./assets/img/images/logo-color.png">
          <h2 class="modal-title" id="conf1">Dra. María Cristina Sifuentes Valenzuela </h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          Pendiente

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>




  <!-- melchor -->
  <div class="modal fade bd-example-modal-lg" id="conf-melchor" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img class="logo" src="./assets/img/images/logo-color.png">
          <h2 class="modal-title" id="conf1">Dr. Melchor Sánchez Mendiola </h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          Pendiente

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Chiappa -->
  <div class="modal fade bd-example-modal-lg" id="conf-chiappa" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img class="logo" src="./assets/img/images/logo-color.png">
          <h2 class="modal-title" id="conf1">Dr. Francisco Xavier Chiappa Carrara</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          Pendiente

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>


  <!-- mario -->
  <div class="modal fade bd-example-modal-lg" id="conf-mario" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img class="logo" src="./assets/img/images/logo-color.png">
          <h2 class="modal-title" id="conf1">Dr. Mario Rodríguez Martínez</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          Pendiente

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>


  <!-- paredes -->
  <div class="modal fade bd-example-modal-lg" id="conf-paredes" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img class="logo" src="./assets/img/images/logo-color.png">
          <h2 class="modal-title" id="conf1">Dr. Raúl Gerardo Paredes Guerrero</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          Pendiente

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>


  <!-- palmero -->
  <div class="modal fade bd-example-modal-lg" id="conf-palmero" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img class="logo" src="./assets/img/images/logo-color.png">
          <h2 class="modal-title" id="conf1">Dr. Julio Ruiz Palmero</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          Pendiente

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>


  <!-- rangel -->
  <div class="modal fade bd-example-modal-lg" id="conf-rangel" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img class="logo" src="./assets/img/images/logo-color.png">
          <h2 class="modal-title" id="conf1">Dra. María Clara Rangel Galvis</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          Pendiente

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>



</main>