<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-unam-oro">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="display-3  text-white">Comité Científico
                <span>Una visión integradora desde las IES</span>
              </h1>
              <p class="lead text-white">El Congreso Virtual Internacional de INNOVACIÓN Y EQUIDAD EDUCATIVA tiene como
                objetivo crear un espacio de intercambio de
                <span class="text-unam-azul"><strong> experiencias</strong></span> de
                <span class="text-unam-azul"><strong> innovaciones</strong></span> e <span
                  class="text-unam-azul"><strong> investigaciones</strong></span>,
                desarrolladas en torno a la innovación y equidad en las instituciones de educación superior.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  <section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">




          <!-- #region enes leon -->
          <p class="subtitle fancy"><span>ENES, Unidad León, UNAM</span></p>
          <br><br>
          <div class="row row-grid">
            <div class="col-lg-6">
              <div class="card card-lift--hover shadow border-0">
                <a  class="" href="" data-toggle="modal" data-target="#conf1">
                    <img class="conf" src="../../../../assets/img/images/persons/org-acosta.jpg" alt="" >
                </a>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card card-lift--hover shadow border-0">
                <a  class="" href="" data-toggle="modal" data-target="#sifuentes">
                    <img class="conf" src="../../../../assets/img/images/persons/org-sifuentes.jpg" alt="" >
                </a>
              </div>
            </div>
            
          </div>

          <div class="row row-grid">
            <div class="col-lg-6">
              <div class="card card-lift--hover shadow border-0">
                <a  class="" href="" data-toggle="modal" data-target="#conf2">
                  <img class="conf" src="../../../../assets/img/images/persons/org-delafuente.jpg" alt="" >
                </a>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card card-lift--hover shadow border-0">
                <a  class="" href="" data-toggle="modal" data-target="#conf3">
                    <img class="conf" src="../../../../assets/img/images/persons/org-adriana.jpg" alt="" >
                </a>
              </div>
            </div>
           
          </div>

          <!-- #endregion -->


          <br><br><br><br>
          <!-- #region codeic -->
          <p class="subtitle fancy"><span>CODEIC</span></p>
          <div class="row row-grid">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
              <!-- Dr. Melchor Sánchez Mendiola -->
              <div class="card card-lift--hover shadow border-0">
                <a class="" href="" data-toggle="modal" data-target="#melchorsanchez">
                  <img class="conf" src="../../../../assets/img/images/persons/cient-melchorsanchez.jpg" alt="">
                </a>
              </div>
            </div>
            <div class="col-lg-3"></div>
          </div>
          <!-- #endregion -->


          <br><br><br><br>
          <!-- #region enes merida -->
          <p class="subtitle fancy"><span>ENES, Unidad Mérida, UNAM</span></p>
          <div class="row row-grid">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
              <!-- Dr. Francisco Xavier Chiappa Carrara -->
              <div class="card card-lift--hover shadow border-0">
                <a class="" href="" data-toggle="modal" data-target="#chiappa">
                  <img class="conf" src="../../../../assets/img/images/persons/cient-chiappa.jpg" alt="">
                </a>
              </div>
            </div>
            <div class="col-lg-3"></div>
          </div>
          <!-- #endregion -->




          <br><br><br><br>
          <!-- #region enes morelia -->
          <p class="subtitle fancy"><span>ENES, Unidad Morelia, UNAM</span></p>
          <div class="row row-grid">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
              <!-- Dr. Mario Rodríguez Martínez -->
              <div class="card card-lift--hover shadow border-0">
                <a class="" href="" data-toggle="modal" data-target="#mariorgz">
                  <img class="conf" src="../../../../assets/img/images/persons/cient-mariorgz.jpg" alt="">
                </a>
              </div>
            </div>
            <div class="col-lg-3"></div>
          </div>
          <!-- #endregion -->


          <br><br><br><br>
          <!-- #region enes juriquilla -->
          <p class="subtitle fancy"><span>ENES, Unidad Juriquilla, UNAM</span></p>
          <div class="row row-grid">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
              <div class="card card-lift--hover shadow border-0">
                <a class="" href="" data-toggle="modal" data-target="#paredes">
                  <img class="conf" src="../../../../assets/img/images/persons/cient-paredes.jpg" alt="">
                </a>
              </div>
            </div>
            <div class="col-lg-3"></div>
          </div>
          <!-- #endregion -->



          <br><br><br><br>
          <!-- #region malaga -->
          <p class="subtitle fancy"><span>Universidad de Málaga, España</span></p>
          <div class="row row-grid">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
              <div class="card card-lift--hover shadow border-0">
                <a  class="" href="" data-toggle="modal" data-target="#ruizPalmero">
                    <img class="conf" src="../../../../assets/img/images/persons/pon-ruizPalmero.jpg" alt="" >
                </a>
              </div>
          </div>

            <!-- <div class="col-lg-6">
              Dr. Julio Ruiz Palmero
              <div class="card card-lift--hover shadow border-0">
                <a class="" href="" data-toggle="modal" data-target="#conf-palmero">
                  <img class="conf" src="../../../../assets/img/images/persons/001_00 2.jpg" alt="">
                </a>
              </div>
            </div> -->
            <div class="col-lg-3"></div>
          </div>
          <!-- #endregion -->



          <br><br><br><br>
          <!-- #region Universidad de Almería, España -->
          <p class="subtitle fancy"><span>Universidad de Almería, España</span></p>
          <div class="row row-grid">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
              <!-- Francisco David Guillén Gámez -->
              <div class="card card-lift--hover shadow border-0">
                <a class="" href="" data-toggle="modal" data-target="#fcogillen">
                  <img class="conf" src="../../../../assets/img/images/persons/cient-fcoguillen.jpg" alt="">
                </a>
              </div>
            </div>
            <div class="col-lg-3"></div>
          </div> 
          <!-- #endregion-->





          <br><br><br><br>
          <!-- #region bosque colombia -->
          <!-- <p class="subtitle fancy"><span>Universidad del Bosque, Colombia</span></p>
          <div class="row row-grid">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
              Dra. María Clara Rangel Galvis
              <div class="card card-lift--hover shadow border-0">
                <a class="" href="" data-toggle="modal" data-target="#conf-rangel">
                  <img class="conf" src="../../../../assets/img/images/persons/001_00 2.jpg" alt="">
                </a>
              </div>
            </div>
            <div class="col-lg-3"></div>
          </div> -->
          <!-- #endregion -->


        </div>
      </div>
    </div>
  </section>

  <!-- Modal -->
 
<div class="modal fade bd-example-modal-lg" id="conf1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img class="logo" src="./assets/img/images/logo-color.png">
        <h2 class="modal-title">Dra. Laura Susana Acosta Torres</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <p>Cirujana Dentista por la Facultad de Odontología de la UNAM, es Doctora en Ciencias
          con Mención Honorifica por la División de Estudios de Posgrado e Investigación de la
          Facultad de Odontología de la UNAM; realizó una estancia posdoctoral en el Centro
          de Física Aplicada y Tecnología Avanzada, UNAM, campus Juriquilla. </p>
        <p>Profesora de Carrera de Tiempo Completo Titular “A” Definitiva, adscrita a la Escuela
          Nacional de Estudios Superiores Unidad León de la UNAM, es PRIDE D de la UNAM
          y pertenece al Sistema Nacional de Investigadores Nivel 1 del CONACYT. Es Miembro
          Académico Numerario de la Academia Nacional de Medicina de México.</p>
        <p>Fue responsable de la Licenciatura en Odontología de la ENES Unidad León y
          fundadora del Área de Investigación en Nanoestructuras y Biomateriales del
          Laboratorio de Investigación Interdisciplinaria de la ENES León.</p>
        <p>Actualmente es Directora de la Escuela Nacional de Estudios Superiores, Unidad
          León de la UNAM.</p>
        <p>La Dra. Acosta es Profesora y Tutora a Nivel Maestría y Doctorado del Programa de
          Maestría y Doctorado en Ciencias Médicas, Odontológicas y de la Salud y del Posgrado
          en Ciencias Biológicas de la UNAM. Es integrante de la Red Temática Farmoquímicos
          del CONACyT. </p>
        <p>Cuenta con 29 artículos publicados en revistas indizadas en JCR y 24 artículos en
          revistas arbitradas, 2 libros y 3 capítulos de libro, 9 artículos de divulgación y cuenta
          con el registro de derechos de autor de 3 manuales de prácticas experimentales.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="conf2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img class="logo" src="./assets/img/images/logo-color.png">
        <h2 class="modal-title" id="conf1">Dr. Javier de la Fuente Hernández</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <p>Cirujano Dentista por la Facultad de Odontología de la UNAM, Maestro en Ciencias
          por la University of London y London Hospital Medical College; cuenta con la
          Especialidad en Docencia de la Odontología y obtuvo el grado de Doctor en Equidad
          e Innovación en Educación por la Universidad de Oviedo, España.</p>
        <p>Actualmente es Profesor de Carrera de Tiempo Completo Titular “C” Definitivo,
          adscrito a la Escuela Nacional de Estudios Superiores Unidad León de la UNAM.
          Desde enero de 2015 es PRIDE D de la UNAM y pertenece al Sistema Nacional de
          Investigadores Nivel I de CONACYT.</p>
        <p>Es Titular de la Unidad de Extensión San Miguel de Allende, de la ENES León.
          Fundador y Director de la Revista Entreciencias Diálogos en la Sociedad del
          Conocimiento de la ENES León.</p>
        <p>Fue Director de la Facultad de Odontología de la UNAM durante dos periodos. Se
          desempeñó como Secretario de Desarrollo Institucional de la UNAM; fue el fundador
          y primer Director de la ENES León, y en el 2017 oc</p>
        <p>Cuenta con 40 artículos de impacto internacional y 39 de impacto nacional, autoría
          de 7 libros, coautor de 5 capítulos de libros internacionales y en 10 libros nacionales,
          autoría en 4 materiales didácticos, un registro público de derecho de autor y un
          reporte técnico</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="conf3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img class="logo" src="./assets/img/images/logo-color.png">
        <h2 class="modal-title" id="conf1">Dra. Adriana Martínez de Wurtz</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <p>Doctora en Estudios Sociales con especialidad en Estudios Laborales por la UAM Iztapalapa.</p>
        <p>Desde 2012 es Profesora – Investigadora de la ENES León, actualmente cuenta
          con el nombramiento de Profesora Titular B de Tiempo Completo Definitivo en la
          licenciatura de Economía Industrial; PRIDE C. Además es co-fundadora y co-
          directora de la revista científica electrónica “Entreciencias: diálogos en la Sociedad
          del Conocimiento”; y a partir de diciembre de 2016 es Jefa de la División de
          Educación Continua e Innovación.</p>
        <p>Sus líneas de investigación son:</p>
        <ul>
          <li>Innovación y políticas de innovación.</li>
          <li>Digitalización e industria 4.0.</li>
          <li>Sector cuero-calzado y sector automotriz.</li>
        </ul>

        <p>Ha sido responsable de 3 proyectos PAPIIT y 4 proyectos PAPIME.        </p>
        <p>Miembro, desde 2007, del Sistema Nacional de Investigadores, Nivel 2. Entre sus publicaciones se encuentran: 2 libros de autor, 10 libros coordinados, 27 capítulos de libro, 20 artículos en revistas indexadas, 36 artículos in extenso en memorias de congresos, 7 memorias de congresos y 4 reseñas críticas. En materia de difusión, ha presentado, 52 ponencias, 25 conferencias magistrales, 3 videoconferencias, ponente en 24 paneles, coordinado 13 mesas de trabajo y presentado 11 libros.        </p>
        <p>Ha recibido diversos premios y distinciones, entre los que destacan: Reconocimiento Sor Juana Inés de la Cruz 2016 y Reconocimiento Gustavo Baz Prada 2016, ambos otorgados por la UNAM. Premio Nacional a la Investigación Laboral 2005 otorgado por la STyPS. Medalla al Mérito Universitario por sus estudios de licenciatura y doctorado, y Reconocimiento por la elaboración del Plan Estatal de Ciencia y Tecnología Guanajuato 2030 otorgado por el Gobierno del Estado de Guanajuato.        </p>
        <p>Preocupada por fomentar el aprendizaje significativo en sus estudiantes, ha implementado el uso de simuladores, estudios de caso, Aprendizaje Basado en Problemas, Aprendizaje-invertido, creación de material lúdico en sus cursos de licenciatura, así como el uso de las TICs.        </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="sifuentes" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img class="logo" src="./assets/img/images/logo-color.png">
        <h2 class="modal-title" id="conf1">Dra. María Cristina Sifuentes Valenzuela </h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <p>Cirujana Dentista con Especialidad en Docencia de la Odontología, Facultad de Odontología (FO). Maestra en Enseñanza Superior por la Facultad de Filosofía y Letras, UNAM. Doctorante en Ciencias de la Educación. Ha cursado nueve diplomados vinculados con la docencia: "Diplomado de Educación Basada en Competencias", "Diplomado de Actualización Docente", Diplomado en Formación Docente, Diplomado en Formación de Tutores para la aplicación del Aprendizaje Basado en Problemas ABP, entre otros. Con fines de actualización profesional y docente ha asistido a 153 eventos académicos nacionales e internacionales.</p>
        <p>Docente de la Facultad de Odontología, desde hace más de 30 años.  Ha dirigido más de 30 tesis y tesinas a nivel licenciatura. Desde 2013 ha participado como coordinadora y ponente más de 35  cursos y Diez diplomados de actualización docente. Ha realizado diversas publicaciones: dos libros y trece capítulos en libro y veinte artículos.  Ha sido responsable de Proyectos para la Innovación y Mejoramiento de la Enseñanza “Sala de tercera dimensión” “Videos educativos vía internet de procedimientos odontológicos y de promoción para la salud bucal”; "Uso de las TIC en la modalidad de interfaz táctil para el aprendizaje de rutas metabólicas del Módulo de Fundamentos de Biología Oral” y “Tutorial en línea para la enseñanza de la bioética y su relación con la Norma Oficial Mexicana NOM-013-SSA2 2015, Para la prevención y control de enfermedades bucales” </p>
        <p>En cuanto a sus contribuciones académicas, ha presentado más de 70 conferencias nacionales y ocho internacional. En la UNAM ha participado en diversos comités académicos y editoriales como la revista Entreciencias, así como en comisiones dictaminadoras y jurados calificadores. En entidades externas ha fungido como Coordinadora y Profesionista distinguida de la Comisión Técnica Consultiva de Odontología en la Dirección General de Profesiones, SEP; Miembro del Consejo Consultivo Académico Institucional, en  la Universidad del Valle de México, Consejero Técnico en el  Centro Nacional de Evaluación para la Educación Superior, A.C. (CENEVAL), del área odontológica, entre otras. </p>
      
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>




  <!-- melchorsanchez -->
  <div class="modal fade bd-example-modal-lg" id="melchorsanchez" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img class="logo" src="./assets/img/images/logo-color.png">
          <h2 class="modal-title" id="conf1">Dr. Melchor Sánchez Mendiola </h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          Pendiente

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Chiappa -->
  <div class="modal fade bd-example-modal-lg" id="chiappa" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img class="logo" src="./assets/img/images/logo-color.png">
          <h2 class="modal-title" id="conf1">Dr. Francisco Xavier Chiappa Carrara</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          Pendiente

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>


  <!-- mariorgz -->
  <div class="modal fade bd-example-modal-lg" id="mariorgz" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img class="logo" src="./assets/img/images/logo-color.png">
          <h2 class="modal-title" id="conf1">Dr. Mario Rodríguez Martínez</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          Pendiente

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>


  <!-- paredes -->
  <div class="modal fade bd-example-modal-lg" id="paredes" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img class="logo" src="./assets/img/images/logo-color.png">
          <h2 class="modal-title" id="conf1">Dr. Raúl Gerardo Paredes Guerrero</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <p>Raúl Gerardo Paredes Guerrero nació en la ciudad de México en 1960. Estudió la licenciatura 
            de Psicología en la Universidad Anáhuac. Posteriormente estudio la Maestría en Ciencias Biomédicas 
            (área de Fisiología) en la Facultad de Medicina de la UNAM donde obtuvo la medalla Gabino Barreda. 
            Su grado de Doctor en Investigación Biomédica Básica (área de Neurociencias) lo obtuvo en el 
            Instituto de Fisiología Celular de la UNAM. Tanto en la Maestría como en el Doctorado fue distinguido 
            con mención honorífica y fue becario de CONACYT. Desde la licenciatura se involucró en labores de 
            investigación y siendo estudiante de doctorado ingreso al Sistema Nacional de Investigadores.
            </p>

          <p>Posteriormente realizó una estancia posdoctoral en el Departamento de Biología de la Universidad de 
            Boston. En 1995 fue distinguido con la Cátedra Divisional “Dr. Carlos Beyer Flores” del Departamento de 
            Biología de la Reproducción de la Universidad Autónoma Metropolitana (Unidad Iztapalapa). 
            Posteriormente se incorporó como investigador de tiempo completo al entonces Centro de 
            Neurobiología. Es nivel “3” en el Sistema Nacional de Investigadores y nivel “D” en el programa de 
            primas al desempeño académico. 
            </p>
          
          <p>Su principal línea de investigación se enfoca a la neurobiología de las conductas motivadas y 
            la plasticidad cerebral. Tiene una amplia producción científica que se refleja en más de 100 artículos 
            publicados en revistas internacionales especializadas con arbitraje y en 22 capítulos de libro además 
            de dos centenares de presentaciones en congresos nacionales e internacionales. Sus trabajos han sido 
            citados más de 3000 veces. Ha sido invitado a participar como ponente en varios congresos 
            nacionales e internacionales y en diferentes conferencias de divulgación. Ha participado como 
            responsable en 23 proyectos de investigación científica financiados por CONACYT y DGAPA. Ha 
            impartido más de 25 diferentes cursos dentro y fuera de la UNAM en los niveles de Licenciatura, 
            Maestría y Doctorado. Ha dirigido 24 tesis de Licenciatura, 14 de Maestría y 11 de Doctorado. Ha 
            supervisado el trabajo de 6 investigadores postdoctorales y ha formado varios grupos de investigación. 
            Ha evaluado proyectos de investigación que se presentan en agencias internacionales como la 
            National Science Foundation (NSF) de Estados Unidos, además de revisar proyectos de investigación 
            para CONACYT y DGAPA. Evalúa también artículos para diferentes revistas internacionales 
            especializadas con arbitraje y es miembro del comité editorial de una revista de reconocido prestigio 
            en su campo. Es miembro de diferentes sociedades científicas nacionales e internacionales. Ha sido 
            miembro de comisiones dictaminadoras en la UNAM y de comisiones evaluadoras en otras 
            universidades. Fue Coordinador de la Maestría en Ciencias Neurobiología, con sede en el Instituto de 
            Neurobiología del 2000 al 2006. Fue director del Instituto de Neurobiología del campus Juriquilla en la 
            UNAM del 2008 al 2016. Actualmente es director de la Escuela Nacional de Estudios Superiores, Unidad 
            Juriquilla por el periodo 2018-2021. 
            </p>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>


  <!-- ruizPalmero -->
  <div class="modal fade bd-example-modal-lg" id="ruizPalmero" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img class="logo" src="./assets/img/images/logo-color.png">
          <h2 class="modal-title" id="conf1">Dr. Julio Ruiz Palmero</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          Pendiente

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>


    <!-- fcogillen -->
    <div class="modal fade bd-example-modal-lg" id="fcogillen" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img class="logo" src="./assets/img/images/logo-color.png">
          <h2 class="modal-title" id="conf1">Dr. Francisco David Guillén Gámez</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          Pendiente

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>


  <!-- rangel -->
  <div class="modal fade bd-example-modal-lg" id="conf-rangel" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img class="logo" src="./assets/img/images/logo-color.png">
          <h2 class="modal-title" id="conf1">Dra. María Clara Rangel Galvis</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          Pendiente

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>



</main>