<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-unam-oro">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="display-3  text-white">Comité Científico
                <span>Una visión integradora desde las IES</span>
              </h1>
              <p class="lead text-white">El Congreso Virtual Internacional de INNOVACIÓN Y EQUIDAD EDUCATIVA tiene como
                objetivo crear un espacio de intercambio de
                <span class="text-unam-azul"><strong> experiencias</strong></span> de
                <span class="text-unam-azul"><strong> innovaciones</strong></span> e <span
                  class="text-unam-azul"><strong> investigaciones</strong></span>,
                desarrolladas en torno a la innovación y equidad en las instituciones de educación superior.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  <section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">




          <!-- #region enes leon -->
          <p class="subtitle fancy"><span>ENES, Unidad León, UNAM</span></p>
          <br><br>
          <div class="row row-grid">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
              <div class="card card-lift--hover shadow border-0">
                <a  class="" href="" data-toggle="modal" data-target="#lauraacosta">
                  <img class="conf" src="../../../../assets/img/images/persons/laura-acosta.jpg" alt="" >
                </a>
              </div>
            </div>
            <div class="col-lg-3"></div>
          </div>
          <!-- <div class="row row-grid">
            <div class="col-lg-6">
              <div class="card card-lift--hover shadow border-0">
                <a  class="" href="" data-toggle="modal" data-target="#lauraacosta">
                    <img class="conf" src="../../../../assets/img/images/persons/laura-acosta.jpg" alt="" >
                </a>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card card-lift--hover shadow border-0">
                <a  class="" href="" data-toggle="modal" data-target="#delafuente">
                  <img class="conf" src="../../../../assets/img/images/persons/delafuente-cientifico.jpg" alt="" >
                </a>
              </div>
            </div>
            
            
          </div> -->

          <!-- <div class="row row-grid">
            <div class="col-lg-6">
              <div class="card card-lift--hover shadow border-0">
                <a  class="" href="" data-toggle="modal" data-target="#sifuentes">
                    <img class="conf" src="../../../../assets/img/images/persons/cristina-sifuentes.jpg" alt="" >
                </a>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card card-lift--hover shadow border-0">
                <a  class="" href="" data-toggle="modal" data-target="#adriana">
                    <img class="conf" src="../../../../assets/img/images/persons/adriana-mtz.jpg" alt="" >
                </a>
              </div>
            </div>
           
          </div> -->

          <!-- #endregion -->




          <br><br><br><br>
           <!-- #region codeic -->
           <p class="subtitle fancy"><span>CUAIEDD, UNAM</span></p>
           <div class="row row-grid">
             <div class="col-lg-3"></div>
             <div class="col-lg-6">
               <!-- Dr. Melchor Sánchez Mendiola -->
               <div class="card card-lift--hover shadow border-0">
                 <a class="" href="" data-toggle="modal" data-target="#melchorsanchez">
                   <img class="conf" src="../../../../assets/img/images/persons/melchor-sanchez-cientifico.jpg" alt="">
                 </a>
               </div>
             </div>
             <div class="col-lg-3"></div>
           </div>
           <!-- #endregion -->
 
     


          <br><br><br><br>
          <!-- #region enes morelia -->
          <p class="subtitle fancy"><span>ENES, Unidad Morelia, UNAM</span></p>
          <div class="row row-grid">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
              <!-- Dr. Mario Rodríguez Martínez -->
              <div class="card card-lift--hover shadow border-0">
                <a class="" href="" data-toggle="modal" data-target="#mariorgz">
                  <img class="conf" src="../../../../assets/img/images/persons/mario-rodriguez.jpg" alt="">
                </a>
              </div>
            </div>
            <div class="col-lg-3"></div>
          </div>
          <!-- #endregion -->



          <br><br><br><br>
          <!-- #region enes juriquilla -->
          <p class="subtitle fancy"><span>ENES, Unidad Juriquilla, UNAM</span></p>
          <div class="row row-grid">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
              <div class="card card-lift--hover shadow border-0">
                <a class="" href="" data-toggle="modal" data-target="#paredes">
                  <img class="conf" src="../../../../assets/img/images/persons/raul-paredes.jpg" alt="">
                </a>
              </div>
            </div>
            <div class="col-lg-3"></div>
          </div>
          <!-- #endregion -->


          


          <br><br><br><br>
          <!-- #region enes merida -->
          <p class="subtitle fancy"><span>ENES, Unidad Mérida, UNAM</span></p>
          <div class="row row-grid">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
              <!-- Dr. Francisco Xavier Chiappa Carrara -->
              <div class="card card-lift--hover shadow border-0">
                <a class="" href="" data-toggle="modal" data-target="#chiappa">
                  <img class="conf" src="../../../../assets/img/images/persons/chiappa.jpg" alt="">
                </a>
              </div>
            </div>
            <div class="col-lg-3"></div>
          </div>
          <!-- #endregion -->




          <br><br><br><br>
          <!-- #region Universidad de Almería, España -->
          <p class="subtitle fancy"><span>Universidad de Almería, España</span></p>
          <div class="row row-grid">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
              <!-- Francisco David Guillén Gámez -->
              <div class="card card-lift--hover shadow border-0">
                <a class="" href="" data-toggle="modal" data-target="#fcogillen">
                  <img class="conf" src="../../../../assets/img/images/persons/fco-guillen.jpg" alt="">
                </a>
              </div>
            </div>
            <div class="col-lg-3"></div>
          </div> 
          <!-- #endregion-->





          <br><br><br><br>
              <!-- #region malaga -->
              <p class="subtitle fancy"><span>Universidad de Málaga, España</span></p>
              <div class="row row-grid">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                  <div class="card card-lift--hover shadow border-0">
                    <a  class="" href="" data-toggle="modal" data-target="#ruizPalmero">
                        <img class="conf" src="../../../../assets/img/images/persons/julio-ruiz-palmero-cientifico.jpg" alt="" >
                    </a>
                  </div>
              </div>
    
                <div class="col-lg-3"></div>
              </div>
              <!-- #endregion -->
    
    




          <br><br><br><br>
          <!-- #region bosque colombia -->
          <!-- <p class="subtitle fancy"><span>Universidad del Bosque, Colombia</span></p>
          <div class="row row-grid">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
              Dra. María Clara Rangel Galvis
              <div class="card card-lift--hover shadow border-0">
                <a class="" href="" data-toggle="modal" data-target="#conf-rangel">
                  <img class="conf" src="../../../../assets/img/images/persons/001_00 2.jpg" alt="">
                </a>
              </div>
            </div>
            <div class="col-lg-3"></div>
          </div> -->
          <!-- #endregion -->



          <!-- #region enes leon ===2=== -->
                  <p class="subtitle fancy"><span>
                    <!-- ENES, Unidad León, UNAM -->
                  </span></p>
                  <div class="row row-grid">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                      <div class="card card-lift--hover shadow border-0">
                        <a  class="" href="" data-toggle="modal" data-target="#delafuente">
                          <img class="conf" src="../../../../assets/img/images/persons/delafuente-cientifico.jpg" alt="" >
                        </a>
                      </div>
                    </div>
                    <div class="col-lg-3"></div>
                  </div>

                  <div class="row row-grid">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                      <div class="card card-lift--hover shadow border-0">
                        <a  class="" href="" data-toggle="modal" data-target="#sifuentes">
                          <img class="conf" src="../../../../assets/img/images/persons/cristina-sifuentes.jpg" alt="" >
                      </a>
                      </div>
                    </div>
                    <div class="col-lg-3"></div>
                  </div>


                  <div class="row row-grid">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                      <div class="card card-lift--hover shadow border-0">
                        <a  class="" href="" data-toggle="modal" data-target="#sifuentes">
                          <img class="conf" src="../../../../assets/img/images/persons/cristina-sifuentes.jpg" alt="" >
                      </a>
                      </div>
                    </div>
                    <div class="col-lg-3"></div>
                  </div>


                  <div class="row row-grid">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                      <div class="card card-lift--hover shadow border-0">
                        <a  class="" href="" data-toggle="modal" data-target="#adriana">
                          <img class="conf" src="../../../../assets/img/images/persons/adriana-mtz.jpg" alt="" >
                      </a>
                      </div>
                    </div>
                    <div class="col-lg-3"></div>
                  </div>
        
                  <!-- #endregion -->        
        </div>
      </div>
    </div>
  </section>

  <!-- Modal -->
<app-sintesis-modals></app-sintesis-modals>


  <!-- Chiappa -->
  <div class="modal fade bd-example-modal-lg" id="chiappa" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img class="logo" src="./assets/img/images/logo-color.png">
          <h2 class="modal-title" id="conf1">Dr. Francisco Xavier Chiappa Carrara</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          Pendiente

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>


  <!-- mariorgz -->
  <div class="modal fade bd-example-modal-lg" id="mariorgz" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img class="logo" src="./assets/img/images/logo-color.png">
          <h2 class="modal-title" id="conf1">Dr. Mario Rodríguez Martínez</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          Pendiente

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>


  <!-- paredes -->
  <div class="modal fade bd-example-modal-lg" id="paredes" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img class="logo" src="./assets/img/images/logo-color.png">
          <h2 class="modal-title" id="conf1">Dr. Raúl Gerardo Paredes Guerrero</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <p>Raúl Gerardo Paredes Guerrero nació en la ciudad de México en 1960. Estudió la licenciatura 
            de Psicología en la Universidad Anáhuac. Posteriormente estudio la Maestría en Ciencias Biomédicas 
            (área de Fisiología) en la Facultad de Medicina de la UNAM donde obtuvo la medalla Gabino Barreda. 
            Su grado de Doctor en Investigación Biomédica Básica (área de Neurociencias) lo obtuvo en el 
            Instituto de Fisiología Celular de la UNAM. Tanto en la Maestría como en el Doctorado fue distinguido 
            con mención honorífica y fue becario de CONACYT. Desde la licenciatura se involucró en labores de 
            investigación y siendo estudiante de doctorado ingreso al Sistema Nacional de Investigadores.
            </p>

          <p>Posteriormente realizó una estancia posdoctoral en el Departamento de Biología de la Universidad de 
            Boston. En 1995 fue distinguido con la Cátedra Divisional “Dr. Carlos Beyer Flores” del Departamento de 
            Biología de la Reproducción de la Universidad Autónoma Metropolitana (Unidad Iztapalapa). 
            Posteriormente se incorporó como investigador de tiempo completo al entonces Centro de 
            Neurobiología. Es nivel “3” en el Sistema Nacional de Investigadores y nivel “D” en el programa de 
            primas al desempeño académico. 
            </p>
          
          <p>Su principal línea de investigación se enfoca a la neurobiología de las conductas motivadas y 
            la plasticidad cerebral. Tiene una amplia producción científica que se refleja en más de 100 artículos 
            publicados en revistas internacionales especializadas con arbitraje y en 22 capítulos de libro además 
            de dos centenares de presentaciones en congresos nacionales e internacionales. Sus trabajos han sido 
            citados más de 3000 veces. Ha sido invitado a participar como ponente en varios congresos 
            nacionales e internacionales y en diferentes conferencias de divulgación. Ha participado como 
            responsable en 23 proyectos de investigación científica financiados por CONACYT y DGAPA. Ha 
            impartido más de 25 diferentes cursos dentro y fuera de la UNAM en los niveles de Licenciatura, 
            Maestría y Doctorado. Ha dirigido 24 tesis de Licenciatura, 14 de Maestría y 11 de Doctorado. Ha 
            supervisado el trabajo de 6 investigadores postdoctorales y ha formado varios grupos de investigación. 
            Ha evaluado proyectos de investigación que se presentan en agencias internacionales como la 
            National Science Foundation (NSF) de Estados Unidos, además de revisar proyectos de investigación 
            para CONACYT y DGAPA. Evalúa también artículos para diferentes revistas internacionales 
            especializadas con arbitraje y es miembro del comité editorial de una revista de reconocido prestigio 
            en su campo. Es miembro de diferentes sociedades científicas nacionales e internacionales. Ha sido 
            miembro de comisiones dictaminadoras en la UNAM y de comisiones evaluadoras en otras 
            universidades. Fue Coordinador de la Maestría en Ciencias Neurobiología, con sede en el Instituto de 
            Neurobiología del 2000 al 2006. Fue director del Instituto de Neurobiología del campus Juriquilla en la 
            UNAM del 2008 al 2016. Actualmente es director de la Escuela Nacional de Estudios Superiores, Unidad 
            Juriquilla por el periodo 2018-2021. 
            </p>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>


  <!-- ruizPalmero -->
  <div class="modal fade bd-example-modal-lg" id="ruizPalmero" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img class="logo" src="./assets/img/images/logo-color.png">
          <h2 class="modal-title" id="conf1">Dr. Julio Ruiz Palmero</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          Pendiente

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>


    <!-- fcogillen -->
    <div class="modal fade bd-example-modal-lg" id="fcogillen" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img class="logo" src="./assets/img/images/logo-color.png">
          <h2 class="modal-title" id="conf1">Dr. Francisco David Guillén Gámez</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          Pendiente

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>


  <!-- rangel -->
  <div class="modal fade bd-example-modal-lg" id="conf-rangel" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img class="logo" src="./assets/img/images/logo-color.png">
          <h2 class="modal-title" id="conf1">Dra. María Clara Rangel Galvis</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          Pendiente

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>



</main>