<main>
    <div class="position-relative">
   
        <section class="section pb-0 section-lg section-hero section-shaped">
            <div class="shape shape-style-1 shape-unam-azul">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        <div class="container py-lg-md">
            <div class="col px-0">
                <div class="row">
                <div class="col-lg-6">
                    <h1 class="display-3  text-white">Evaluación para el Aprendizaje
                    <!-- <span>Una visión integradora desde las IES</span> -->
                    </h1>
                    <p class="lead  text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt et ex tempora accusamus excepturi. Tempore labore reiciendis esse corporis sequi cupiditate, placeat pariatur eum nemo itaque quasi iure, explicabo eius?</p>
                </div>
                </div>
            </div>
            
            <div class="row row-grid align-items-center">

                    <div class="col-md-12 col-lg-6 mb-5 mb-lg-0">
                        <div class="px-4">
                          <!-- <img src="./assets/img/images/Transmisión-en-vivo.png" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;"> -->
                          <div class="mt-3">
                            <!-- <h1 class="animate__animated animate__bounce animate__slideInUp">An animated element</h1> -->
                                <img class="img-center animate__animated animate__bounce animate__slideInUp" src="./assets/img/images/quantity.png">                              
                          </div>
                          <div class="pt-4 text-center">
                            <h5 class="title">
                              <span class="h5 d-block mb-1">Evaluación Cuantitativa</span>
                              <!-- <small class="h6 text-muted">Ponencias y mesas de trabajo</small>
                              <span class="d-block mb-1">de 9:00 a 15:00 hrs</span> -->
                            </h5>
                          </div>
                        </div>
                      </div>
              
                    <div class="col-md-12 col-lg-6 mb-5 mb-lg-0">
                        <div class="px-4">
                            <!-- <img src="./assets/img/images/Transmisión-en-vivo.png" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;"> -->
                            <div class="mt-3">
                                  <img class="img-center animate__animated animate__bounce animate__slideInUp" src="./assets/img/images/quality.png">                              
                            </div>
                            <div class="pt-4 text-center">
                              <h5 class="title">
                                <span class="h5 d-block mb-1">Evaluación Cualitativa</span>
                                <!-- <small class="h6 text-muted">Ponencias y mesas de trabajo</small>
                                <span class="d-block mb-1">de 9:00 a 15:00 hrs</span> -->
                              </h5>
                            </div>
                          </div>
                    </div>
              
                      
            </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
        </section>

    </div>
</main>
  