<main>
    <div class="position-relative">
        <section class="section section-lg section-hero section-shaped">
            <!-- Background circles -->
            <div class="shape shape-style-1 shape-unam-oro">
              <span class="span-150"></span>
              <span class="span-50"></span>
              <span class="span-50"></span>
              <span class="span-75"></span>
              <span class="span-100"></span>
              <span class="span-75"></span>
              <span class="span-50"></span>
              <span class="span-100"></span>
              <span class="span-50"></span>
              <span class="span-100"></span>
            </div>
            <div class="container shape-container d-flex align-items-center py-lg">
              <div class="col px-0">
                <div class="row align-items-center justify-content-center">
                  <div class="col-lg-12 text-center ">
                    <!-- 
                    <h1 class="text-primary">aaa</h1>
                    <h3 class="text-primary">BBB</h3> 
                    -->
                    
                    <h1 class="text-primary">Guanajuato</h1>
                    <h3 class="text-primary">Bellezas naturales y turísticas del estado de Guanajuato</h3>
                    <div style="width: 100%;"><div style="position: relative; padding-bottom: 50.00%; padding-top: 0; height: 0;">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/Kv8hBOrZPYg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                     </div>
                    </div>


                    <h1 class="text-primary">Enciende tus sentidos #DescubreGuanajuato</h1>
                    <h3 class="text-primary">
                      El Estado de Guanajuato posea una belleza incomparable difícil de encontrar en otro lugar del mundo, basta contemplar sus ciudades que nos brindan espectaculares calles, callejones y edificaciones coloniales para transportarte en el tiempo. Recorrer su caminos revelan destellos  de historia y tradición, invitándote a rincones que terminan por enamorar el alma.
                    </h3>
                    <div style="width: 100%;"><div style="position: relative; padding-bottom: 50.00%; padding-top: 0; height: 0;">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/asKWBWVlAJE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                     </div>
                    </div>


                    <h1 class="text-primary">Bonito León Guanajuato</h1>
                    <h3 class="text-primary">
                      En 2020 cumple 444 años de su fundación.
                    </h3> 
                    <div style="width: 100%;"><div style="position: relative; padding-bottom: 50.00%; padding-top: 0; height: 0;">  
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/ZESp9m5j_ag" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                     </div>
                    </div>


                    
                    <h1 class="text-primary">San Miguel de Allende, Ciudad Patrimonio de la Humanidad</h1>
                    <h3 class="text-primary">Descubre una Ciudad Patrimonio de la Humanidad que hace grande al nombre de México, imponente, impredecible, interminable, así es San Miguel de Allende.</h3> 
                    <div style="width: 100%;"><div style="position: relative; padding-bottom: 50.00%; padding-top: 0; height: 0;">  
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/GzfqlTPE14U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                     </div>
                    </div>


                    <h1 class="text-primary">Mineral de Pozos, Pueblo Mágico</h1>
                    <h3 class="text-primary">La educación como derecho de la humanidad es un factor de cambio que da justicia y libertad social.</h3> 
                    <div style="width: 100%;"><div style="position: relative; padding-bottom: 50.00%; padding-top: 0; height: 0;">  
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/Vjz4OVDrEuI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                     </div>
                    </div>


                    <h1 class="text-primary">Yuriria, Guanajuato. Pueblo Mágico</h1>
                    <h3 class="text-primary">Este pueblo mágico es dueño de los más hermosos tesoros, tanto naturales como hechos por la mano del hombre, que podremos encontrar en el sur del estado de Guanajuato.</h3> 
                    <div style="width: 100%;"><div style="position: relative; padding-bottom: 50.00%; padding-top: 0; height: 0;">  
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/QQx2HnyOcLQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                     </div>
                    </div>



                    <h1 class="text-primary">Dolores Hidalgo, Pueblo Mágico</h1>
                    <h3 class="text-primary">Descubre un Pueblo Mágico lleno de historia y tradición; enamórate con nosotros de la Cuna de la Independencia Nacional, su belleza, su sabor y artesanía.</h3> 
                    <div style="width: 100%;"><div style="position: relative; padding-bottom: 50.00%; padding-top: 0; height: 0;">  
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/2kLQiJBRkhk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                     </div>
                    </div>



                    <h1 class="text-primary">Jalpa de Cánovas, Pueblo Mágico</h1>
                    <h3 class="text-primary">Descubre un fascinante Pueblo Mágico que te llena los sentidos de naturaleza y tranquilidad. Reencuéntrate contigo mismo, en un lugar pequeño que tiene un corazón gigante.</h3> 
                    <div style="width: 100%;"><div style="position: relative; padding-bottom: 50.00%; padding-top: 0; height: 0;">  
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/L-y1G3ZAt8M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                     </div>
                    </div>



                  </div>
                </div>
              </div>
            </div>
            <!-- SVG separator -->
            <div class="separator separator-bottom separator-skew zindex-100">
              <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
              </svg>
            </div>
        </section>
    </div>
   
    
    
  </main>