<main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg section-shaped pb-250">
        <div class="shape shape-style-1 shape-unam-azul">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container py-lg-md d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-6">
                <h1 class="display-3  text-unam-oro">Ponencias Magistrales</h1>
                <p class="lead  text-white">
                    en construcción...
                </p>
                <!-- <p>en construcción...</p> -->
                
                

                
              </div>
              <br><br><br><br><br>
              <br><br><br><br><br>

              <h1>Internacionales</h1>

              <div class="col-md-12">
                <div class="row row-grid align-items-center">
                  <div class="col-md-12">
                    <div class="row row-grid">
      
                      <div class="col-lg-6">
                          <div class="card card-lift--hover shadow border-0">
                            <a  class="" href="" data-toggle="modal" data-target="#ruizPalmero">
                                <img class="conf" src="../../../../assets/img/images/persons/pon-ruizPalmero.jpg" alt="" >
                            </a>
                          </div>
                      </div>
      
                      <div class="col-lg-6">
                        <div class="card card-lift--hover shadow border-0">
                          <a  class="" href="" data-toggle="modal" data-target="#sanchezRivas">
                            <img class="conf" src="../../../../assets/img/images/persons/pon-enriquesanchez.jpg" alt="" >
                          </a>  
                        </div>
                      </div>
                    </div>


                    <div class="row row-grid">
                      <div class="col-lg-6">
                          <div class="card card-lift--hover shadow border-0">
                            <a  class="" href="" data-toggle="modal" data-target="#patriciaKent">
                                <img class="conf" src="../../../../assets/img/images/persons/pon-PatriciaKent.jpg" alt="" >
                            </a>
                          </div>
                      </div>
      
                      <div class="col-lg-6">
                        <div class="card card-lift--hover shadow border-0">
                          <a  class="" href="" data-toggle="modal" data-target="#slaymenBonilla">
                            <img class="conf" src="../../../../assets/img/images/persons/pon-slaymenBonilla.jpg" alt="" >
                          </a>  
                        </div>
                      </div>
                    </div>
  
                  </div>

                 
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </section>
      <!-- 1st Hero Variation -->
    </div>


<!-- Modal -->
<!-- enrique sanchez -->
<div class="modal fade bd-example-modal-lg" id="sanchezRivas" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img class="logo" src="./assets/img/images/logo-color.png">
        <h2 class="modal-title">Dr. Enrique Sánchez Rivas</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Doctor en Pedagogía por la Universidad de Málaga. Cuenta con una dilatada experiencia en la función pública docente. Ha sido maestro de Educación Primaria durante diez años y ha ejercido diferentes cargos técnicos y directivos. Su trabajo en el aula ha sido reconocido con el prestigioso Premio Santillana de experiencias educativas. Actualmente es director del Centro del Profesorado de Málaga. También trabajar como profesor asociado a la UMA en el Departamento de Teoría e Historia de la Educación de la Universidad de Málaga.</p>
        <p>Su labor investigadora ha sido prolífera. Pertenece al Grupo de investigación Innoeduca de la Universidad de Málaga. Ha dirigido dos investigaciones con subvención pública (PIV-013/07 y PIV-028/06), y ha participado en otras muchas. Todas enmarcadas en las líneas de innovación y metodologías activas, sobre las que ha profundizado en estancias de investigación en otras universidades españolas.        </p>
        <p>Fruto del trabajo de investigación y de divulgación del conocimiento, es autor de una veintena de artículos publicados en revistas de impacto en los últimos diez años, a los que hay que sumar ocho libros. Su último proyecto editorial es “Pedagogía vía Twitter”, de editorial Kolima.</p>
        <p>Ha participado como ponente en congresos de ámbito nacional e internacional. Habitualmente imparte cursos de formación permanente en diversos Centros del Profesorado de Andalucía, y es formador de funcionarios en prácticas adscritos a la Delegación Territorial de Educación de Málaga. Su competencia en materia TIC ha sido acreditada por la Consejería de Educación, a través del distintivo de “Formador Escuela-TIC 2.0”.</p>
        <p>Blog: www.pedagogia350.com        </p>
        <p>Web de publicaciones: www.enriquesanchezrivas.es        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- ruizPalmero -->
<div class="modal fade bd-example-modal-lg" id="ruizPalmero" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img class="logo" src="./assets/img/images/logo-color.png">
        <h2 class="modal-title" id="conf1">Dr. Julio Ruiz Palmero</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        Pendiente

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- patriciaKent -->
<div class="modal fade bd-example-modal-lg" id="patriciaKent" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img class="logo" src="./assets/img/images/logo-color.png">
        <h2 class="modal-title" id="conf1">Dra. Patricia Kent</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <ul>
          <li>Doctora en Desarrollo Humano y Sustentable. Universidad Bolivariana de Chile (UB Chile). </li>
          <li>Magíster en Desarrollo Humano y Sustentable (UB Chile).</li>
          <li>Master en Eco Auditorias y Planificación Empresarial del Medio Ambiente (INIECO España). </li>
          <li>Licenciada en Administración (UNPSJB) y Contadora Pública (UN Sur).</li>
          <li>Docente de posgrado en universidades del país y del exterior (Brasil, Colombia, Ecuador, Méjico, Panamá).</li>
          <li>Directora regular del Instituto de Responsabilidad Social para el Desarrollo Sustentable - GETACE. UNPSJB. </li>
          <li>Ex Vicedecana y Secretaria Académica de la FCE-UNPSJB.</li>
          <li>Autora de los libros “La Gestión Ambiental en la Empresa”. Ed. Buyatti, 1999 y “Sustentabilidad socioambiental de las mipymes argentinas”. Ed. Buyatti, 2016.</li>
          <li>Coautora de varios libros y colaboradora en numerosas publicaciones de su especialidad de edición nacional y extranjera.</li>
          <li>Consultora en organismos del país y del exterior para proyectos de responsabilidad social y sustentabilidad organizacional.</li>
          <li>Ex Presidente de la Asociación de Docentes Nacionales de Administración General de la República Argentina.</li>
          <li>Premio a la Trayectoria Científica y Académica Regional 2016 (UNPSJB) </li>
          <li>Premio Nacional a la Trayectoria Académica en Administración 2011 (ADENAG).</li>
        </ul>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- slaymenBonilla -->
<div class="modal fade bd-example-modal-lg" id="slaymenBonilla" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img class="logo" src="./assets/img/images/logo-color.png">
        <h2 class="modal-title" id="conf1">Mtro. Slaymen Bonilla Núñez</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <p>Licenciado en Filosofía por la Universidad La Salle y en Ciencias Políticas y Administración Pública por la Universidad Nacional Autónoma de México, Maestro en Filosofía por el Centro de Investigación y Docencia en Humanidades del Estado de Morelos y candidato a Doctor en Filosofía por el Colegio de Morelos.        </p>
        <p>	Ha realizado estancias de estudio e investigación en la Universitatea “Alexandru Ioan Cuza” din Iaşi, en Rumania, en la Chungnam National University, en Corea del Sur y en la Universidad de Kioto, en Japón. </p>
        <p>	Su carrera como docente comenzó en 2008, ocupando el puesto de adjunto de cátedra de la materia de Metodología Aplicada a las Ciencias Sociales en la Facultad de Ciencias Políticas y Sociales de la UNAM, al lado de la Dra. Rina Marissa Aguilera Hintelholher. Ha sido catedrático en la Universidad La Salle, en la Universidad Interamericana para el Desarrollo (campus Tula y Ensenada), en la Universidad San Felipe de Jesús, en la Universidad de Tijuana y en la Escuela de Enfermería "Miguel Servet".        </p>
        <p>	Sus investigaciones giran en torno a la filosofía pesimista del siglo XIX y XX, a la filosofía budista -en especial a Nāgārjuna- y a la filosofía náhuatl. Del mismo modo, sus esfuerzos van encaminados a la creación y desarrollo de una nueva teoría, a la que denomina "pesimismo utópico".        </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade bd-example-modal-lg" id="conf5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img class="logo" src="./assets/img/images/logo-color.png">
        <h2 class="modal-title" id="conf1">Dr. José Ramiro Martíz Flórez </h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        Pendiente

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade bd-example-modal-lg" id="conf6" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img class="logo" src="./assets/img/images/logo-color.png">
        <h2 class="modal-title" id="conf1">Dra. Marion Whitney Lloyd </h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        Pendiente

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

</main>