<main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg section-shaped pb-250">
        <div class="shape shape-style-1 shape-unam-azul">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container py-lg-md d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-12">
                <h1 class="display-3  text-unam-oro">Ponencias Magistrales</h1>      
                <p class="text-white">
                  Con el propósito fortalecer los ejes temáticos del congreso, de acuerdo con el programa, cada día, expertos en las temáticas ofrecerán ponencias magistrales en tiempo real. Mismas que se presentarán en horario diferente para que todos tengan la oportunidad de acceder y dialogar o debatir con los ponentes al término de la exposición.  </p>            
                <p class="text-white">En este espacio puede conocer la trayectoria de los nueve ponentes, de los cuales seis son extranjeros.</p>

                
                
                
              </div>
              <br><br><br><br><br>
              <br><br><br><br><br>
              <br><br><br><br><br>

              <div class="col-md-12">
                <div class="row justify-content-center">
                  <div class="col-lg-6">
                    <div class="mb-3">
                      <h2> <small class="text-uppercase font-weight-bold">Nacionales</small></h2>
                    </div>
                  </div>
                  <div class="col-lg-6 mt-5 mt-lg-0">
                    <div class="mb-3">
                      <h2> <small class="text-uppercase font-weight-bold">Internacionales</small></h2>
                    </div>
                  </div>

                </div>



                <div class="row row-grid align-items-center">
                  <div class="col-md-12">

                    <!-- <h3>Febrero 17</h3> -->
                    <p class="subtitle fancy"><span>17 de febrero</span></p>
                    <div class="row row-grid">   
                      <div class="col-lg-6">
                        <h4>09:00 hrs</h4>
                        <div class="card card-lift--hover shadow border-0">
                          <a  class="" href="" data-toggle="modal" data-target="#rociokuri">
                              <img class="conf" src="../../../../assets/img/images/persons/rocio-grageda.jpg" alt="" >
                          </a>
                        </div>
                      </div>
      
                      <div class="col-lg-6">
                        <h4>10:00 hrs</h4>
                        <div class="card card-lift--hover shadow border-0">
                          <a  class="" href="" data-toggle="modal" data-target="#MelchorGomez">
                            <img class="conf" src="../../../../assets/img/images/persons/melchor-gomez.jpg" alt="" >
                          </a>  
                        </div>
                      </div>
                    </div>


                    <div class="row row-grid">
                      <div class="col-lg-6">
                      </div>
      
                      <div class="col-lg-6">
                        <h4>11:00 hrs</h4>
                        <div class="card card-lift--hover shadow border-0">
                          <a  class="" href="" data-toggle="modal" data-target="#TrujilloTorres">
                            <img class="conf" src="../../../../assets/img/images/persons/trujillo-torres.jpg" alt="" >
                          </a>  
                        </div>
                      </div>
                    </div>

                    <br><br>
                    <p class="subtitle fancy"><span>18 de febrero</span></p>
                    <div class="row row-grid">
      
                      <div class="col-lg-6">
                        <h4>10:00 hrs</h4>
                        <div class="card card-lift--hover shadow border-0">
                          <a  class="" href="" data-toggle="modal" data-target="#fraderubio">
                            <img class="conf" src="../../../../assets/img/images/persons/laura-frade.jpg" alt="" >
                          </a>  
                        </div>
                      </div>
                   
      
                      <div class="col-lg-6">
                        <h4>09:00 hrs</h4>
                        <div class="card card-lift--hover shadow border-0">
                          <a  class="" href="" data-toggle="modal" data-target="#colomo">
                            <img class="conf" src="../../../../assets/img/images/persons/ernesto-colomo.jpg" alt="" >
                          </a>  
                        </div>
                      </div>
                    </div>

                    <div class="row row-grid">
      
                      <div class="col-lg-6">
                        
                       
                        <!-- <div class="card card-lift--hover shadow border-0">
                          <a  class="" href="" data-toggle="modal" data-target="#rociokuri">
                              <img class="conf" src="../../../../assets/img/images/persons/pon-rociokuri.jpg" alt="" >
                          </a>
                        </div> -->
                        
                      </div>
                   
      
                      <div class="col-lg-6">
                        <h4>11:00 hrs</h4> 
                        <div class="card card-lift--hover shadow border-0">
                          <a  class="" href="" data-toggle="modal" data-target="#sanchezRivas">
                            <img class="conf" src="../../../../assets/img/images/persons/enriquesanchez.jpg" alt="" >
                          </a>  
                        </div>
                        <!-- <div class="card card-lift--hover shadow border-0">
                          <a  class="" href="" data-toggle="modal" data-target="#fraderubio">
                            <img class="conf" src="../../../../assets/img/images/persons/conf-fraderubio.jpg" alt="" >
                          </a>  
                        </div> -->
                      </div>
                    </div>


                    <br><br>
                    <p class="subtitle fancy"><span>19 de febrero</span></p>
                    <div class="row row-grid">
                      <div class="col-lg-6">
                        <h4>10:00 hrs</h4>
                        <div class="card card-lift--hover shadow border-0">
                          <a  class="" href="" data-toggle="modal" data-target="#concepcion">
                              <img class="conf" src="../../../../assets/img/images/persons/concepcion-barron.jpg" alt="" >
                          </a>
                        </div>
                        <!-- <div class="card card-lift--hover shadow border-0">
                          <a  class="" href="" data-toggle="modal" data-target="#camilo">
                              <img class="conf" src="../../../../assets/img/images/persons/camilo.jpg" alt="" >
                          </a>
                        </div> -->
                      </div>
                      <!-- <div class="col-lg-6">
                        <h4>09:00 hrs</h4>
                        <div class="card card-lift--hover shadow border-0">
                          <a  class="" href="" data-toggle="modal" data-target="#fridadiaz">
                              <img class="conf" src="../../../../assets/img/images/persons/frida-diaz.jpg" alt="" >
                          </a>
                        </div>
                      </div> -->
                   
      
                      <div class="col-lg-6">
                        <h4>09:00 hrs</h4>
                        <div class="card card-lift--hover shadow border-0">
                            <a  class="" href="" data-toggle="modal" data-target="#teresaGuasch">
                                <img class="conf" src="../../../../assets/img/images/persons/teresaGuasch.jpg" alt="" >
                            </a>
                          </div>
                      </div>
                    </div>

                    <div class="row row-grid">
                      <div class="col-lg-6">
                        <!-- <h4>09:00 hrs</h4>
                        <div class="card card-lift--hover shadow border-0">
                          <a  class="" href="" data-toggle="modal" data-target="#fridadiaz">
                              <img class="conf" src="../../../../assets/img/images/persons/pon-fridadiaz.jpg" alt="" >
                          </a>
                        </div> -->
                      </div>
                   
      
                      <div class="col-lg-6">
                      
                          <h4>11:00 hrs</h4>
                          <div class="card card-lift--hover shadow border-0">
                            <a  class="" href="" data-toggle="modal" data-target="#patriciaKent">
                                <img class="conf" src="../../../../assets/img/images/persons/patricia-kent.jpg" alt="" >
                            </a>
                          </div>
                          <!-- <div class="card card-lift--hover shadow border-0">
                            <a  class="" href="" data-toggle="modal" data-target="#sanchezRivas">
                              <img class="conf" src="../../../../assets/img/images/persons/enriquesanchez.jpg" alt="" >
                            </a>  
                          </div> -->
                       
                      </div>
                    </div>





                  </div>

                 
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </section>
      <!-- 1st Hero Variation -->
    </div>


<!-- Modal -->
<app-sintesis-modals></app-sintesis-modals>



<!-- ruizPalmero -->
<div class="modal fade bd-example-modal-lg" id="ruizPalmero" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img class="logo" src="./assets/img/images/logo-color.png">
        <h2 class="modal-title" id="conf1">Dr. Julio Ruiz Palmero</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        Pendiente

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>





</main>