<main>
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section section-lg section-shaped pb-250">
            <div class="shape shape-style-1 shape-unam-azul">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="container py-lg-md d-flex">
                <div class="col px-0">
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8 text-white">
                            <h1 class="display-3  text-white">Criterios elaboración de manuscritos para participación
                                oral</h1>

                            <h3>De la autoría</h3>

                            <p>Se aceptará hasta un máximo de <strong>CINCO autores</strong> por trabajo. <strong>Es
                                    indispensable que una autora
                                    o un autor esté INSCRITO</strong> en el <strong>Congreso</strong> en la modalidad de
                                presentación de manuscritos
                                para participar en la mesas de trabajo. La constancia se emitirá con el nombre completo
                                de los autores con los datos registrados en el <a class="text-white" style="text-decoration: underline; font-size: x-large;"
                                    target="_blank" href="https://forms.gle/o8dpPknYLdWxdqgC9">
                                    <i>Formato de inscripción como asistente, participante o para presentación oral en
                                        mesas de trabajo en el COVIIEE</i></a>.
                                Los autores podrán participar en un máximo de <strong>tres manuscritos</strong>.</p>
                            <br>
                            <h3>Del envío de manuscritos</h3>
                            <p>

                                Las personas interesadas podrán presentar manuscritos de trabajo relacionadas con alguno
                                de los siete <a class="text-white" style="text-decoration: underline;"
                                    [routerLink]="['/ejes']" target="_blank">ejes temáticos</a>
                                del Congreso. El envío de manuscritos deberá efectuarse en la fecha señalada y
                                empleando la <a class="text-white" (click)="downloadMyFile('plantilla')"
                                    style="text-decoration: underline; font-size: x-large;" target="_blank">
                                    <i>"Plantilla envío de manuscritos COVIIEE”.</i></a>

                                <br>
                                <!-- <button type="button" (click)="downloadMyFile('plantilla')"
                                    class="btn btn-primary mt-4">Descargar plantilla
                                    <span class="material-icons">cloud_download</span>
                                </button> -->

                            </p>
                            Ante cualquer duda o problema, contactar por correo con
                            <a class="text-white" style="text-decoration: underline; " href="coviie@unam.mx"
                                target="_blank">
                                coviie@unam.mx.
                            </a>


                            <br><br><br>
                            <h3>Consideraciones importantes</h3>
                            <ol>
                                <li>
                                    <p>
                                        Todos los manuscritos para las presentaciones orales serán objeto de revisión
                                        por parte del <strong>Comité Técnico</strong>, que tendrá la decisión final
                                        respecto a su
                                        adjudicación a un eje temático determinado.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Los criterios para la revisión de los manuscritos son: <strong>relevancia,
                                            originalidad,
                                            adecuación al evento y contenido</strong>.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Para <strong>la aceptación</strong> de los manuscritos es <strong>requisito
                                            indispensable</strong> que se atiendan
                                        todos los aspectos signados en la plantilla y que se cumpla con las
                                        especificaciones para cada uno de ellos.
                                    </p>
                                </li>
                            </ol>

                            <br><br>
                            <h3>Plazos de envío</h3>
                            <ol>
                                <li>
                                    <p>
                                        Las propuestas deberán ser enviadas a más tardar el día <strong>30 de
                                            noviembre</strong>.
                                    </p>
                                </li>

                                <li>
                                    <p>

                                        Los manuscritos aceptados con modificación, deberán ser enviados a más tardar el
                                        <strong> 10 de enero de
                                            2021.</strong>

                                    </p>
                                </li>
                                <li>
                                    <p>Para <strong>formalizar</strong> el <strong>registro</strong> en las mesas de trabajo deberá enviar el <strong> autor o
                                        autora</strong> que hará la presentación oral, el <strong><i> Formato Registro Mesas de Trabajo
                                        COVIEE, adjuntando el comprobante de pago correspondiente</i></strong>, del 30 de noviembre
                                        de 2020 al 20 de enero de 2021. Los demás autores podrán solicitar su
                                        inscripción al congreso, si así lo desean, hasta el día <strong> 15 de febrero de 2021</strong>.
                                    </p>
                                </li>
                            </ol>




                            <br><br><br>
                            <h3>Requisito indispensable para la aceptación de contribuciones </h3>
                            <p>Antes de remitir su manuscrito hay que comprobar que se <strong> cubren </strong> los
                                requisitos y
                                especificaciones señaladas en la
                                <strong><i>
                                        <a class="text-white" style="text-decoration: underline; font-size: x-large;"
                                            (click)="downloadMyFile('listaChequeo')" target="_blank">
                                            Lista de autochequeo manuscritos COVIIEE
                                        </a>
                                    </i></strong>, para
                                evitar la necesidad de corrección o incluso la No aceptación por no cumplir algunos de los
                                requisitos indicados.
                                <br>
                                <!-- <button type="button" (click)="downloadMyFile('listaChequeo')"
                                    class="btn btn-primary mt-4">Descargar lista de autochequeo
                                    <span class="material-icons">cloud_download</span>
                                </button> -->
                            </p>



                            <br><br><br>
                            <h3>Requisito indispensable para la publicación de manuscritos en las revistas</h3>
                            <p>Los <strong> mejores manuscritos </strong> seleccionados por el <strong> Comité
                                    Científico </strong> para cada uno de los ejes temáticos, serán sometidos a la
                                valoración para su publicación en las siguientes revistas: </p>
                            <ul>
                                <li>


                                    <span style="font-size: larger;"> <strong>Revista científica
                                            Entreciencias.</strong></span> Número especial
                                    "<i><strong>Innovación Educativa y Equidad</strong></i>". Agosto, 2021.
                                    <div>
                                        Mayor información de la revista:
                                        <a class="text-white" style="text-decoration: underline;"
                                            href="http://revistas.unam.mx/index.php/entreciencias" target="_blank">
                                            http://revistas.unam.mx/index.php/entreciencias
                                        </a>
                                    </div>

                                </li>
                                <li>
                                    <span style="font-size: larger;"> <strong>Revista Innoeduca.</strong></span>
                                    Internacional Journal of Technology and
                                    Educational Innovation. 2022.
                                    <div>
                                        Mayor información de la revista:
                                        <a class="text-white" style="text-decoration: underline;"
                                            href="https://revistas.uma.es/index.php/innoeduca/index" target="_blank">
                                            https://revistas.uma.es/index.php/innoeduca/index
                                        </a>
                                    </div>
                                </li>
                            </ul>

                            <p>
                                Los manuscritos que no cumplan con los criterios y procesos de valoración signados por
                                las revistas, serán incorporados para su publicación en el libro independiente.
                            </p>




                        </div>

                    </div>
                </div>
            </div>
            <!-- SVG separator -->
            <div class="separator separator-bottom separator-skew">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                    xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </section>
        <!-- 1st Hero Variation -->
    </div>



</main>