<main>
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section section-lg section-shaped pb-250">
            <div class="shape shape-style-1 shape-unam-azul">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="container py-lg-md d-flex">
                <div class="col px-0">
                    <div class="row">
                        <div class="col-lg-12 text-white">
                            <h1 class="display-3  text-white">Criterios elaboración de manuscritos para participación
                                oral</h1>

                            <h3>De la autoría</h3>
                            <p>
                                Se aceptará hasta un máximo de <strong> CINCO autores </strong> por trabajo. <strong>
                                    TODOS deben estar INSCRITOS en
                                    el Congreso para la publicación electrónica</strong>. Las constancias se emitirán de
                                manera
                                individual con los datos registrados en el formato correspondiente. Los autores podrán
                                participar en un máximo de <strong> tres manuscritos</strong>.
                            </p>
                            <br>
                            <h3>Del envío de manuscritos</h3>
                            <p>
                                Las personas participantes podrán presentar manuscritos para las presentaciones orales
                                en las mesas de trabajo relacionadas con alguno de los siete
                                <a class="text-white" style="text-decoration: underline;" [routerLink]="['/ejes']"
                                    target="_blank">
                                    ejes temáticos
                                </a>
                                del Congreso. El envío de manuscritos deberá efectuarse en la fecha señalada y
                                empleando la <a class="text-white" (click)="downloadMyFile('plantilla')"
                                    style="text-decoration: underline; font-size: xx-large;" target="_blank">
                                    “Plantilla para el envío de manuscritos COVIIEE”.</a>

                                <br>
                                <button type="button" (click)="downloadMyFile('plantilla')"
                                    class="btn btn-primary mt-4">Descargar plantilla
                                    <span class="material-icons">cloud_download</span>
                                </button>

                            </p>
                            Ante cualquer duda o problema, contactar por correo con
                            <a class="text-white" style="text-decoration: underline; " href="coviie@unam.mx"
                                target="_blank">
                                coviie@unam.mx.
                            </a>


                            <br><br><br>
                            <h3>Consideraciones importantes</h3>
                            <ol>
                                <li>
                                    <p>

                                        Todas las propuestas para las presentaciones orales serán objeto de revisión por
                                        parte del <strong> Comité Técnico</strong>, que tendrá la decisión final
                                        respecto a
                                        su adjudicación a
                                        una línea temática determinada.
                                    </p>
                                </li>
                                <li>
                                    <p>

                                        Los criterios para la revisión de las propuestas son: <strong> relevancia,
                                            originalidad,
                                            adecuación al evento, contenido y corrección del texto.</strong>
                                    </p>
                                </li>
                                <li>
                                    <p>

                                        Para <strong> la aceptación </strong> de la propuesta es <strong> requisito
                                            indispensable </strong> que
                                        <strong> al menos una
                                            autora o un autor </strong> se inscriban al Congreso antes del
                                        <strong> 30 de noviembre</strong>. El resto de
                                        los autores pueden inscribirse posteriormente (hasta el 10 de enero).
                                    </p>
                                </li>
                            </ol>

                            <br><br>
                            <h3>Plazos de envío</h3>
                            <ol>
                                <li>
                                    <p>
                                        Las propuestas deberán ser enviadas a más tardar el día 30 de noviembre.
                                    </p>
                                </li>

                                <li>
                                    <p>

                                        Los manuscritos para la presentación de las mesas de trabajo aceptadas con
                                        modificación, deberán ser enviadas a más tardar el <strong> 10 de enero de
                                            2021.</strong>

                                    </p>
                                </li>
                            </ol>




                            <br><br><br>
                            <h3>Requisito indispensable para la aceptación de contribuciones </h3>
                            <p>Antes de remitir su manuscrito hay que comprobar que se <strong> cubren </strong> los
                                requisitos y
                                especificaciones señaladas en la
                                <strong><i>
                                        <a class="text-white" style="text-decoration: underline; font-size: xx-large;"
                                            (click)="downloadMyFile('listaChequeo')" target="_blank">
                                            Lista de chequeo manuscritos COVIIEE
                                        </a>
                                    </i></strong>, para
                                evitar la necesidad de corrección o incluso su rechazo por no cumplir algunos de los
                                requisitos indicados.
                                <br>
                                <button type="button" (click)="downloadMyFile('listaChequeo')"
                                    class="btn btn-primary mt-4">Descargar lista de autochequeo
                                    <span class="material-icons">cloud_download</span>
                                </button>
                            </p>



                            <br><br><br>
                            <h3>Requisito indispensable para la publicación de manuscritos en las revistas</h3>
                            <p>Los <strong> mejores manuscritos </strong> seleccionados por el <strong> Comité
                                    Científico </strong> para cada uno de los ejes temáticos, serán sometidos a la
                                valoración para su publicación en las siguientes revistas: </p>
                            <ul>
                                <li>


                                    <span style="font-size: larger;"> <strong>Revista científica
                                            Entreciencias.</strong></span> Número especial
                                    "<i><strong>Innovación Educativa y Equidad</strong></i>". Agosto, 2021.
                                    <div>
                                        Mayor información de la revista:
                                        <a class="text-white" style="text-decoration: underline;"
                                            href="http://revistas.unam.mx/index.php/entreciencias" target="_blank">
                                            http://revistas.unam.mx/index.php/entreciencias
                                        </a>
                                    </div>

                                </li>
                                <li>
                                    <span style="font-size: larger;"> <strong>Revista Innoeduca.</strong></span>
                                    Internacional Journal of Technology and
                                    Educational Innovation. 2022.
                                    <div>
                                        Mayor información de la revista:
                                        <a class="text-white" style="text-decoration: underline;"
                                            href="https://revistas.uma.es/index.php/innoeduca/index" target="_blank">
                                            https://revistas.uma.es/index.php/innoeduca/index
                                        </a>
                                    </div>
                                </li>
                            </ul>

                            <p>
                                Los manuscritos que no cumplan con los criterios y procesos de valoración signados por
                                las revistas, serán incorporados para su publicación en el libro independiente.
                            </p>




                        </div>

                    </div>
                </div>
            </div>
            <!-- SVG separator -->
            <div class="separator separator-bottom separator-skew">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                    xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </section>
        <!-- 1st Hero Variation -->
    </div>



</main>