<main>
    <div class="position-relative">
   
        <!-- bg-gradient-success -->
        <section class="section pb-0 section-lg section-hero section-shaped">
            <div class="shape shape-style-1 shape-unam-azul">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        <div class="container py-lg-md">
            <div class="col px-0">
                <div class="row">
                <div class="col-lg-6">
                    <h1 class="display-3  text-white">Investigación educativa
                    <!-- <span>Una visión integradora desde las IES</span> -->
                    </h1>
                    <p class="lead  text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt et ex tempora accusamus excepturi. Tempore labore reiciendis esse corporis sequi cupiditate, placeat pariatur eum nemo itaque quasi iure, explicabo eius?</p>
                </div>
                </div>
            </div>
            
            <div class="row row-grid align-items-center">
            <div class="col-md-6 order-lg-2 ml-lg-auto">
                <div class="position-relative pl-md-5">
                <!-- <img src="../../../assets/congreso/Gennially-investigacion.jpg" class="img-center img-fluid"> -->
                <div style="width: 100%;"><div style="position: relative; padding-bottom: 200.00%; padding-top: 0; height: 0;"><iframe frameborder="0" width="800px" height="1600px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5ecc3d8cc9f5190d9a9571b6" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
                </div>
            </div>



            



            <div class="col-lg-6 order-lg-1">
                <div class="card shadow shadow-lg--hover mt-5">
                <div class="card-body">
                    <div class="d-flex px-3">
                    <div>
                        <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                        <i class="ni ni-active-40"></i>
                        </div>
                    </div>
                    <div class="pl-4">
                        <h5 class="title text-warning">Temas:</h5>
                        <p>Analíticas de Aprendizaje</p>
                        <p><i>Bit data</i> en educación</p>
                        <p>Cooperación internacional en investigación educativa</p>
                        <p>Gestión del conocimiento</p>
                        <p>Gestión y análisis de datos</p>
                        <p>Inteligencia artificial</p>
                        <p>Metodologías de investigación</p>
                        <p>Plagio y propiedad intelectual</p>
                        <p>Proyectos de investigación científica</p>
                        <p>Prospectiva sobre las tecnologías en la educación</p>
                        <p>Retos y agendas de investigación en tecnología educativa</p>
                        <p>Teorías de aprendizaje y TIC</p>
                        <p>entre otros</p>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
        </section>

    </div>
</main>
  