<!-- #region ===conferencias=== -->

<!-- marion -->
<div class="modal fade bd-example-modal-lg" id="marion" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img class="logo" src="./assets/img/images/logo-color.png">
                <h2 class="modal-title" id="conf1">Dra. Marion Whitney Lloyd </h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <p>Marion Lloyd es Investigadora del Instituto de Investigaciones sobre la Universidad y la Educación
                    (IISUE) de la Universidad Nacional Autónoma de México. Es Doctora en Ciencias Políticas y Sociales
                    (campo Sociología) y Maestra en Estudios Latinoamericanos de la misma institución. Realizó sus
                    estudios de Licenciatura en Letras Inglesas e Hispanas en la Universidad de Harvard. Sus temas de
                    investigación incluyen: políticas de equidad; universidades interculturales; política comparada de
                    la educación superior a nivel mundial, con un enfoque en Estados Unidos, México y Brasil; los
                    rankings internacionales; y políticas de ciencia y tecnología. </p>
                <p>Durante 15 años fue corresponsal en América Latina, el Caribe y Asia del Sur para medios
                    estadounidenses, incluyendo The Boston Globe, Houston Chronicle y The Chronicle of Higher Education,
                    y colaboradora de numerosas revistas. Desde 2011, escribe una columna mensual sobre la educación
                    superior en el mundo para el suplemento Campus Milenio y es columnista eventual para medios
                    internacionales. Es integrante permanente del Seminario de Educación Superior de la UNAM desde 2011
                    y miembro del Comité Editorial de la Revista de la Educación Superior, así como dictaminadora para
                    numerosas revistas nacionales e internacionales. </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- enrique sanchez -->
<div class="modal fade bd-example-modal-lg" id="sanchezRivas" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img class="logo" src="./assets/img/images/logo-color.png">
          <h2 class="modal-title">Dr. Enrique Sánchez Rivas</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Doctor en Pedagogía por la Universidad de Málaga. Cuenta con una dilatada experiencia en la función pública docente. Ha sido maestro de Educación Primaria durante diez años y ha ejercido diferentes cargos técnicos y directivos. Su trabajo en el aula ha sido reconocido con el prestigioso Premio Santillana de experiencias educativas. Actualmente es director del Centro del Profesorado de Málaga. También trabajar como profesor asociado a la UMA en el Departamento de Teoría e Historia de la Educación de la Universidad de Málaga.</p>
          <p>Su labor investigadora ha sido prolífera. Pertenece al Grupo de investigación Innoeduca de la Universidad de Málaga. Ha dirigido dos investigaciones con subvención pública (PIV-013/07 y PIV-028/06), y ha participado en otras muchas. Todas enmarcadas en las líneas de innovación y metodologías activas, sobre las que ha profundizado en estancias de investigación en otras universidades españolas.        </p>
          <p>Fruto del trabajo de investigación y de divulgación del conocimiento, es autor de una veintena de artículos publicados en revistas de impacto en los últimos diez años, a los que hay que sumar ocho libros. Su último proyecto editorial es “Pedagogía vía Twitter”, de editorial Kolima.</p>
          <p>Ha participado como ponente en congresos de ámbito nacional e internacional. Habitualmente imparte cursos de formación permanente en diversos Centros del Profesorado de Andalucía, y es formador de funcionarios en prácticas adscritos a la Delegación Territorial de Educación de Málaga. Su competencia en materia TIC ha sido acreditada por la Consejería de Educación, a través del distintivo de “Formador Escuela-TIC 2.0”.</p>
          <!-- <p>Blog: www.pedagogia350.com        </p>
          <p>Web de publicaciones: www.enriquesanchezrivas.es        </p> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>




<!-- #endregion -->