<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-unam-azul">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="display-3  text-white">ENES León</h1>
              <p class="text-white">
                La Escuela Nacional de Estudios Superiores, Unidad León, de la Universidad Nacional Autónoma de México,
                se crea en 2011 como parte del proceso de descentralización de Estudios Profesionales de la UNAM para
                refrendar su compromiso social y nacional. Su propuesta educativa innovadora, relevante y vigente le han
                permitido consolidarse como un referente educativo en México, contribuyendo con su posicionamiento al
                fortalecimiento de la educación superior en México, así como extender su presencia con el surgimiento de
                tres escuelas más con este modelo educativo, Morelia, Juriquilla y Mérida.
                <!-- La Escuela Nacional de Estudios Superiores, Unidad León, de la Universidad Nacional Autónoma de México, se crea en 2011 como parte del proceso de descentralización de Estudios Profesionales de la UNAM para refrendar su compromiso social y nacional. Su propuesta educativo innovadora, relevante y vigente le han permitido consolidarse como un referente educativo en el país,  contribuyendo con su posicionamiento al fortalecimiento de la educación superior en México. -->
              </p>
              <p class="text-white">
                Con esta entidad académica, la Universidad se involucra de manera crítica, participativa y constructiva
                en los procesos sociales, económicos, productivos, culturales y de desarrollo sustentable propios de
                determinadas regiones del país, a través de un modelo educativo integrador, innovador y flexible,
                formando egresados que contribuyan con responsabilidad, ética y profesionalismo a la solución de
                problemáticas actuales. Actualmente la ENES, cuenta con la Unidad de Extensión
                <a class="text-white" style="text-decoration: underline;" href="https://enes.unam.mx/esma.html"
                  target="_blank">
                  San Miguel de Allende .
                </a>
                <!-- Con esta entidad académica, la Universidad se involucra de manera crítica, participativa y constructiva en los procesos sociales, económicos, productivos, culturales y de desarrollo sustentable propios de determinadas regiones del país, a través de un modelo educativo integrador, innovador y flexible, formando  egresados  que contribuyan con responsabilidad, ética y profesionalismo a la solución de problemáticas actuales. -->

              </p>

              <br>
              <div class="row justify-content-center">
                <div class="row align-items-center justify-content-center">
                  <iframe width="860" height="504" src="https://www.youtube.com/embed/6DTYhMgfSwU" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>

                  <!-- <video width="860" height="504" controls>
                        <source src="../../../assets/video/enes-master.m4v" type="video/mp4">
                      </video> -->
                </div>
                <br>

              </div>


            </div>

          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>



</main>