<div class="row row-grid">
    <div class="col-lg-6">
      <div class="card card-lift--hover shadow border-0">
        <a  class="" href="" data-toggle="modal" data-target="#conf1">
            <img class="conf" src="../../../../assets/img/images/persons/org-laura-acosta.jpg" alt="" >
        </a>
      </div>
      <!-- <div class="card card-lift--hover shadow border-0">
          <div style="width: 100%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1200px" height="675px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5ed6cc3bf610f80d997a04e4" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
      </div> -->
    </div>
    <div class="col-lg-6">
      <div class="card card-lift--hover shadow border-0">
        <a  class="" href="" data-toggle="modal" data-target="#sifuentes">
            <img class="conf" src="../../../../assets/img/images/persons/org-sifuentes.jpg" alt="" >
        </a>
      </div>
    </div>
    
  </div>

  <div class="row row-grid">
    <div class="col-lg-6">
      <div class="card card-lift--hover shadow border-0">
        <a  class="" href="" data-toggle="modal" data-target="#conf2">
          <img class="conf" src="../../../../assets/img/images/persons/org-delafuente.jpg" alt="" >
        </a>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card card-lift--hover shadow border-0">
        <a  class="" href="" data-toggle="modal" data-target="#conf3">
            <img class="conf" src="../../../../assets/img/images/persons/org-adriana.jpg" alt="" >
        </a>
      </div>
    </div>
   
  </div>

 <!-- Modal -->
 <div class="modal fade bd-example-modal-lg" id="conf1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
 aria-hidden="true">
 <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <img class="logo" src="./assets/img/images/logo-color.png">
       <h2 class="modal-title">Dra. Laura Susana Acosta Torres</h2>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
       Pendiente
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
     </div>
   </div>
 </div>
</div>

<div class="modal fade bd-example-modal-lg" id="conf2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
 aria-hidden="true">
 <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <img class="logo" src="./assets/img/images/logo-color.png">
       <h2 class="modal-title" id="conf1">Dr. Javier de la Fuente Hernández</h2>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">

       Pendiente

     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
     </div>
   </div>
 </div>
</div>

<div class="modal fade bd-example-modal-lg" id="conf3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
 aria-hidden="true">
 <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <img class="logo" src="./assets/img/images/logo-color.png">
       <h2 class="modal-title" id="conf1">Dra. Adriana Martínez de Wurtz</h2>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">

       Pendiente

     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
     </div>
   </div>
 </div>
</div>

<div class="modal fade bd-example-modal-lg" id="sifuentes" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
 aria-hidden="true">
 <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <img class="logo" src="./assets/img/images/logo-color.png">
       <h2 class="modal-title" id="conf1">Dra. María Cristina Sifuentes Valenzuela </h2>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">

       Pendiente

     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
     </div>
   </div>
 </div>
</div>
