<div class="row row-grid">
    <div class="col-lg-6">
      <div class="card card-lift--hover shadow border-0">
        <a  class="" href="" data-toggle="modal" data-target="#conf1">
            <img class="conf" src="../../../../assets/img/images/persons/org-laura-acosta.jpg" alt="" >
        </a>
      </div>
      <!-- <div class="card card-lift--hover shadow border-0">
          <div style="width: 100%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1200px" height="675px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5ed6cc3bf610f80d997a04e4" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
      </div> -->
    </div>
    <div class="col-lg-6">
      <div class="card card-lift--hover shadow border-0">
        <a  class="" href="" data-toggle="modal" data-target="#sifuentes">
            <img class="conf" src="../../../../assets/img/images/persons/org-sifuentes.jpg" alt="" >
        </a>
      </div>
    </div>
    
  </div>

  <div class="row row-grid">
    <div class="col-lg-6">
      <div class="card card-lift--hover shadow border-0">
        <a  class="" href="" data-toggle="modal" data-target="#conf2">
          <img class="conf" src="../../../../assets/img/images/persons/org-delafuente.jpg" alt="" >
        </a>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card card-lift--hover shadow border-0">
        <a  class="" href="" data-toggle="modal" data-target="#conf3">
            <img class="conf" src="../../../../assets/img/images/persons/org-adriana.jpg" alt="" >
        </a>
      </div>
    </div>
   
  </div>

 <!-- Modal -->
 <div class="modal fade bd-example-modal-lg" id="conf1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
 aria-hidden="true">
 <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <img class="logo" src="./assets/img/images/logo-color.png">
       <h2 class="modal-title">Dra. Laura Susana Acosta Torres</h2>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
       Pendiente
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
     </div>
   </div>
 </div>
</div>

<div class="modal fade bd-example-modal-lg" id="conf2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
 aria-hidden="true">
 <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <img class="logo" src="./assets/img/images/logo-color.png">
       <h2 class="modal-title" id="conf1">Dr. Javier de la Fuente Hernández</h2>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">

       Pendiente

     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
     </div>
   </div>
 </div>
</div>

<div class="modal fade bd-example-modal-lg" id="conf3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
 aria-hidden="true">
 <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <img class="logo" src="./assets/img/images/logo-color.png">
       <h2 class="modal-title" id="conf1">Dra. Adriana Martínez de Wurtz</h2>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">

       Pendiente

     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
     </div>
   </div>
 </div>
</div>

<div class="modal fade bd-example-modal-lg" id="sifuentes" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
 aria-hidden="true">
 <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <img class="logo" src="./assets/img/images/logo-color.png">
       <h2 class="modal-title" id="conf1">Dra. María Cristina Sifuentes Valenzuela </h2>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">

      <p>Cirujana Dentista con Especialidad en Docencia de la Odontología, Facultad de Odontología (FO). Maestra en Enseñanza Superior por la Facultad de Filosofía y Letras, UNAM. Doctorante en Ciencias de la Educación. Ha cursado nueve diplomados vinculados con la docencia: "Diplomado de Educación Basada en Competencias", "Diplomado de Actualización Docente", Diplomado en Formación Docente, Diplomado en Formación de Tutores para la aplicación del Aprendizaje Basado en Problemas ABP, entre otros. Con fines de actualización profesional y docente ha asistido a 153 eventos académicos nacionales e internacionales.</p>
      <p>Docente de la Facultad de Odontología, desde hace más de 30 años.  Ha dirigido más de 30 tesis y tesinas a nivel licenciatura. Desde 2013 ha participado como coordinadora y ponente más de 35  cursos y Diez diplomados de actualización docente. Ha realizado diversas publicaciones: dos libros y trece capítulos en libro y veinte artículos.  Ha sido responsable de Proyectos para la Innovación y Mejoramiento de la Enseñanza “Sala de tercera dimensión” “Videos educativos vía internet de procedimientos odontológicos y de promoción para la salud bucal”; "Uso de las TIC en la modalidad de interfaz táctil para el aprendizaje de rutas metabólicas del Módulo de Fundamentos de Biología Oral” y “Tutorial en línea para la enseñanza de la bioética y su relación con la Norma Oficial Mexicana NOM-013-SSA2 2015, Para la prevención y control de enfermedades bucales” </p>
      <p>En cuanto a sus contribuciones académicas, ha presentado más de 70 conferencias nacionales y ocho internacional. En la UNAM ha participado en diversos comités académicos y editoriales como la revista Entreciencias, así como en comisiones dictaminadoras y jurados calificadores. En entidades externas ha fungido como Coordinadora y Profesionista distinguida de la Comisión Técnica Consultiva de Odontología en la Dirección General de Profesiones, SEP; Miembro del Consejo Consultivo Académico Institucional, en  la Universidad del Valle de México, Consejero Técnico en el  Centro Nacional de Evaluación para la Educación Superior, A.C. (CENEVAL), del área odontológica, entre otras. </p>


     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
     </div>
   </div>
 </div>
</div>
