<main>
<div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg section-shaped pb-250">
        <div class="shape shape-style-1 shape-unam-azul">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container py-lg-md d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-12">
                <h1 class="display-3  text-unam-oro">Conferencias Magistrales</h1>
                <p class="lead  text-white">
                  Con la intención de contar con la participación de expertos en los ejes temáticos del congreso, cada día se presentarán las conferencias magistrales vinculadas con el tema de análisis, que dictarán su conferencia simultáneamente. No obstante ello, para que todos puedan acceder a las mismas, las conferencias estarán disponibles en la plataforma ocho días a partir del inicio del congreso. En este espacio, podrá consultar la trayectoria de los cinco especialistas nacionales y de  los tres internacionales que presentarán conferencias.
                </p>
                
                

                
              </div>
              <br><br><br><br><br>
              <br><br><br><br><br>
              <br><br><br><br><br>
              
              <div class="col-md-12">
                <div class="row justify-content-center">
                  <div class="col-lg-6">
                    <div class="mb-3">
                      <h2> <small class="text-uppercase font-weight-bold">Nacionales</small></h2>
                    </div>
                  </div>
                  <div class="col-lg-6 mt-5 mt-lg-0">
                    <div class="mb-3">
                      <h2> <small class="text-uppercase font-weight-bold">Internacionales</small></h2>
                    </div>
                  </div>

                </div>
             
                <div class="row row-grid">
                  <div class="col-md-12">
                    <h3>Febrero 17</h3>
                    
                    <div class="row row-grid">
                      <div class="col-lg-6">
                        <h4>08:30 hrs</h4>
                          <div class="card card-lift--hover shadow border-0">
                            <a  class="" href="" data-toggle="modal" data-target="#marion">
                              <img class="conf" src="../../../../assets/img/images/persons/conf-marionwhitney.jpg" alt="" >
                            </a>
                          </div>
                        </div>
                      
      
                      <div class="col-lg-6">
                        <h4>08:30 hrs</h4>
                        <div class="card card-lift--hover shadow border-0">
                          <a  class="" href="" data-toggle="modal" data-target="#ruizPalmero">
                            <img class="conf" src="../../../../assets/img/images/persons/pon-ruizPalmero.jpg" alt="" >
                          </a>  
                          <!-- <div style="width: 100%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1200px" height="675px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5ed5887baaad160d5d2b0ac0" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div> -->
                        </div>
                      </div>
                    </div>



                    <br><br>
                    <h3>Febrero 18</h3>
                    <div class="row row-grid">
                      <div class="col-lg-6">
                        <h4>08:30 hrs</h4>
                          <div class="card card-lift--hover shadow border-0">
                            <a  class="" href="" data-toggle="modal" data-target="#slaymenBonilla">
                                <img class="conf" src="../../../../assets/img/images/persons/pon-slaymenBonilla.jpg" alt="" >
                            </a>
                          </div>
                          
                      </div>
      
                      <div class="col-lg-6">
                        <h4>08:30 hrs</h4>
                        <div class="card card-lift--hover shadow border-0">
                          <a  class="" href="" data-toggle="modal" data-target="#veronica">
                            <img class="conf" src="../../../../assets/img/images/persons/conf-veronica.jpg" alt="" >
                          </a>  
                          <!-- <div style="width: 100%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1200px" height="675px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5ed5887baaad160d5d2b0ac0" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div> -->
                        </div>                       
                      </div>
                    </div>

                    <div class="row row-grid">
                      <div class="col-lg-6">
                          <!-- <div class="card card-lift--hover shadow border-0">
                            <a  class="" href="" data-toggle="modal" data-target="#conf5">
                                <img class="conf" src="../../../../assets/img/images/persons/001_00.jpg" alt="" >
                            </a>
                          </div> -->
                      </div>
      
                      <div class="col-lg-6">
                        <h4>08:30 hrs</h4>
                        <div class="card card-lift--hover shadow border-0">
                          <a  class="" href="" data-toggle="modal" data-target="#sanchezRivas">
                            <img class="conf" src="../../../../assets/img/images/persons/pon-enriquesanchez.jpg" alt="" >
                          </a>  
                          <!-- <div style="width: 100%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1200px" height="675px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5ed5887baaad160d5d2b0ac0" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div> -->
                        </div>
                      </div>
                    </div>


                    <br><br>
                    <h3>Febrero 19</h3>
                    <div class="row row-grid">
                      <div class="col-lg-6">
                        <h4>08:30 hrs</h4>
                          <div class="card card-lift--hover shadow border-0">
                            <a  class="" href="" data-toggle="modal" data-target="#melchorsanchez">
                                <img class="conf" src="../../../../assets/img/images/persons/cient-melchorsanchez.jpg" alt="" >
                            </a>
                          </div>
                          
                      </div>
      
                      <div class="col-lg-6">
                        <!-- <div class="card card-lift--hover shadow border-0">
                          <a  class="" href="" data-toggle="modal" data-target="#conf4">
                            <img class="conf" src="../../../../assets/img/images/persons/conf-veronica.jpg" alt="" >
                          </a>  
                        </div>                        -->
                      </div>
                    </div>
      
                    <div class="row row-grid">
                      <div class="col-lg-6">
                        <h4>08:30 hrs</h4>
                          <div class="card card-lift--hover shadow border-0">
                            <a  class="" href="" data-toggle="modal" data-target="#delafuente">
                                <img class="conf" src="../../../../assets/img/images/persons/org-delafuente.jpg" alt="" >
                            </a>
                          </div>
                          
                      </div>
      
                      <div class="col-lg-6">
                        <!-- <div class="card card-lift--hover shadow border-0">
                          <a  class="" href="" data-toggle="modal" data-target="#conf4">
                            <img class="conf" src="../../../../assets/img/images/persons/conf-veronica.jpg" alt="" >
                          </a>                            
                        </div>                        -->
                      </div>
                    </div>

                    <div class="row row-grid">
                      <div class="col-lg-6">
                        <h4>08:30 hrs</h4>
                          <div class="card card-lift--hover shadow border-0">
                            <a  class="" href="" data-toggle="modal" data-target="#concheiro">
                                <img class="conf" src="../../../../assets/img/images/persons/concheiro-2.jpg" alt="" >
                            </a>
                          </div>
                          
                      </div>
      
                      <div class="col-lg-6">
                        <!-- <div class="card card-lift--hover shadow border-0">
                          <a  class="" href="" data-toggle="modal" data-target="#conf4">
                            <img class="conf" src="../../../../assets/img/images/p
                            ersons/conf-veronica.jpg" alt="" >
                          </a>  
                        </div>                        -->
                      </div>
                    </div>

                    <div class="row row-grid">
                      <div class="col-lg-6">
                        <h4>08:30 hrs</h4>
                          <div class="card card-lift--hover shadow border-0">
                            <a  class="" href="" data-toggle="modal" data-target="#fraderubio">
                                <img class="conf" src="../../../../assets/img/images/persons/conf-fraderubio.jpg" alt="" >
                            </a>
                          </div>
                          
                      </div>
      
                      <div class="col-lg-6">
                        <!-- <div class="card card-lift--hover shadow border-0">
                          <a  class="" href="" data-toggle="modal" data-target="#conf4">
                            <img class="conf" src="../../../../assets/img/images/persons/conf-veronica.jpg" alt="" >
                          </a>  
                        </div>                        -->
                      </div>
                    </div>
      
      
                   
                    
                    
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </section>
      <!-- 1st Hero Variation -->
    </div>


<!-- Modal -->
<!-- concheiro -->
<div class="modal fade bd-example-modal-lg" id="concheiro" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img class="logo" src="./assets/img/images/logo-color.png">
        <h2 class="modal-title">Dr. Luciano Concheiro Bórquez</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Licenciado en Economía (1993), Maestro en Economía Internacional (1998) y Doctor en Ciencias Económicas (2009). </p>
        <p>Perfil PRODEP vigente.</p>
        <p> <strong> Área de investigación: </strong> Desarrollo y competitividad agroalimentaria.  </p>
        <p>Participación en 11 proyectos de investigación de los cuales en uno como investigador responsable. </p>
        <p>Imparte los siguientes cursos en licenciatura y posgrado: </p>
          <ul>
            <li>Macroeconomía</li>
            <li>Macroeconomía II</li>
            <li>Ingeniería de la Tasación I</li>
            <li>Ingeniería de la Tasación II</li>
          </ul>
          <p>Cuenta con 28 años de experiencia docente en: </p>
          <ul>
            <li>FACULTAD DE ECONOMÍA Y RELACIONES INTERNACIONALES</li>
            <li>UNIVERSIDAD AUTÓNOMA DE BAJA CALIFORNIA, CAMPUS TIJUANA, BAJA CALIFORNIA</li>
          </ul>
          <p>Ha sido Codirector de dos tesis en licenciatura y dos en posgrado. </p>
          <p>Cuenta con 6 Sinodalias.</p>
          <p>Es coautor de dos libros, cuatro capítulos en libros y seis artículos.</p>
          <p>Es miembro del Comité de Servicio Social en la FEyRI y Miembro del Núcleo Básico y del Comité de Estudios de Posgrado de la Maestría en Valuación.  </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- ruizPalmero -->
<div class="modal fade bd-example-modal-lg" id="ruizPalmero" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img class="logo" src="./assets/img/images/logo-color.png">
        <h2 class="modal-title" id="conf1">Dr. Julio Ruiz Palmero</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        Pendiente

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- slaymenBonilla -->
<div class="modal fade bd-example-modal-lg" id="slaymenBonilla" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img class="logo" src="./assets/img/images/logo-color.png">
        <h2 class="modal-title" id="conf1">Mtro. Slaymen Bonilla Núñez</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <p>Licenciado en Filosofía por la Universidad La Salle y en Ciencias Políticas y Administración Pública por la Universidad Nacional Autónoma de México, Maestro en Filosofía por el Centro de Investigación y Docencia en Humanidades del Estado de Morelos y candidato a Doctor en Filosofía por el Colegio de Morelos.        </p>
        <p>	Ha realizado estancias de estudio e investigación en la Universitatea “Alexandru Ioan Cuza” din Iaşi, en Rumania, en la Chungnam National University, en Corea del Sur y en la Universidad de Kioto, en Japón. </p>
        <p>	Su carrera como docente comenzó en 2008, ocupando el puesto de adjunto de cátedra de la materia de Metodología Aplicada a las Ciencias Sociales en la Facultad de Ciencias Políticas y Sociales de la UNAM, al lado de la Dra. Rina Marissa Aguilera Hintelholher. Ha sido catedrático en la Universidad La Salle, en la Universidad Interamericana para el Desarrollo (campus Tula y Ensenada), en la Universidad San Felipe de Jesús, en la Universidad de Tijuana y en la Escuela de Enfermería "Miguel Servet".        </p>
        <p>	Sus investigaciones giran en torno a la filosofía pesimista del siglo XIX y XX, a la filosofía budista -en especial a Nāgārjuna- y a la filosofía náhuatl. Del mismo modo, sus esfuerzos van encaminados a la creación y desarrollo de una nueva teoría, a la que denomina "pesimismo utópico".        </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- veronica -->
<div class="modal fade bd-example-modal-lg" id="veronica" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img class="logo" src="./assets/img/images/logo-color.png">
        <h2 class="modal-title" id="conf1">Dra. Verónica Marín Díaz</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        Pendiente

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- enrique sanchez -->
<div class="modal fade bd-example-modal-lg" id="sanchezRivas" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img class="logo" src="./assets/img/images/logo-color.png">
        <h2 class="modal-title">Dr. Enrique Sánchez Rivas</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Doctor en Pedagogía por la Universidad de Málaga. Cuenta con una dilatada experiencia en la función pública docente. Ha sido maestro de Educación Primaria durante diez años y ha ejercido diferentes cargos técnicos y directivos. Su trabajo en el aula ha sido reconocido con el prestigioso Premio Santillana de experiencias educativas. Actualmente es director del Centro del Profesorado de Málaga. También trabajar como profesor asociado a la UMA en el Departamento de Teoría e Historia de la Educación de la Universidad de Málaga.</p>
        <p>Su labor investigadora ha sido prolífera. Pertenece al Grupo de investigación Innoeduca de la Universidad de Málaga. Ha dirigido dos investigaciones con subvención pública (PIV-013/07 y PIV-028/06), y ha participado en otras muchas. Todas enmarcadas en las líneas de innovación y metodologías activas, sobre las que ha profundizado en estancias de investigación en otras universidades españolas.        </p>
        <p>Fruto del trabajo de investigación y de divulgación del conocimiento, es autor de una veintena de artículos publicados en revistas de impacto en los últimos diez años, a los que hay que sumar ocho libros. Su último proyecto editorial es “Pedagogía vía Twitter”, de editorial Kolima.</p>
        <p>Ha participado como ponente en congresos de ámbito nacional e internacional. Habitualmente imparte cursos de formación permanente en diversos Centros del Profesorado de Andalucía, y es formador de funcionarios en prácticas adscritos a la Delegación Territorial de Educación de Málaga. Su competencia en materia TIC ha sido acreditada por la Consejería de Educación, a través del distintivo de “Formador Escuela-TIC 2.0”.</p>
        <p>Blog: www.pedagogia350.com        </p>
        <p>Web de publicaciones: www.enriquesanchezrivas.es        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- melchorsanchez -->
<div class="modal fade bd-example-modal-lg" id="melchorsanchez" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img class="logo" src="./assets/img/images/logo-color.png">
        <h2 class="modal-title" id="conf1">Dr. Melchor Sánchez Mendiola</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        Pendiente

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- delafuente -->
<div class="modal fade bd-example-modal-lg" id="delafuente" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img class="logo" src="./assets/img/images/logo-color.png">
        <h2 class="modal-title" id="conf1">Dr. Javier de la Fuente Hernández</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <p>Cirujano Dentista por la Facultad de Odontología de la UNAM, Maestro en Ciencias
          por la University of London y London Hospital Medical College; cuenta con la
          Especialidad en Docencia de la Odontología y obtuvo el grado de Doctor en Equidad
          e Innovación en Educación por la Universidad de Oviedo, España.</p>
        <p>Actualmente es Profesor de Carrera de Tiempo Completo Titular “C” Definitivo,
          adscrito a la Escuela Nacional de Estudios Superiores Unidad León de la UNAM.
          Desde enero de 2015 es PRIDE D de la UNAM y pertenece al Sistema Nacional de
          Investigadores Nivel I de CONACYT.</p>
        <p>Es Titular de la Unidad de Extensión San Miguel de Allende, de la ENES León.
          Fundador y Director de la Revista Entreciencias Diálogos en la Sociedad del
          Conocimiento de la ENES León.</p>
        <p>Fue Director de la Facultad de Odontología de la UNAM durante dos periodos. Se
          desempeñó como Secretario de Desarrollo Institucional de la UNAM; fue el fundador
          y primer Director de la ENES León, y en el 2017 oc</p>
        <p>Cuenta con 40 artículos de impacto internacional y 39 de impacto nacional, autoría
          de 7 libros, coautor de 5 capítulos de libros internacionales y en 10 libros nacionales,
          autoría en 4 materiales didácticos, un registro público de derecho de autor y un
          reporte técnico</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<!-- fraderubio -->
<div class="modal fade bd-example-modal-lg" id="fraderubio" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img class="logo" src="./assets/img/images/logo-color.png">
        <h2 class="modal-title" id="conf1">Dra. Laura Susana Frade Rubio </h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        Pendiente

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade bd-example-modal-lg" id="marion" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img class="logo" src="./assets/img/images/logo-color.png">
        <h2 class="modal-title" id="conf1">Dra. Marion Whitney Lloyd </h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        Pendiente

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

   





</main>