<main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg section-shaped pb-250">
        <div class="shape shape-style-1 shape-unam-azul">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container py-lg-md d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-6">
                <h1 class="display-3  text-unam-oro">Conferencias Magistrales</h1>
                <p class="lead  text-white">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex exercitationem doloremque sit rerum optio sequi illo natus voluptas, blanditiis provident delectus quos, molestias nam, accusamus mollitia sint. Asperiores, adipisci ex?
                </p>
                
                

                
              </div>
              <br><br><br><br><br>
              <br><br><br><br><br>

              <div class="col-md-12">
                <div class="row row-grid align-items-center">
                  <div class="col-md-12">
                    <div class="row row-grid">
      
                      <div class="col-lg-6">
                          <div class="card card-lift--hover shadow border-0">
                            <a  class="" href="" data-toggle="modal" data-target="#conf1">
                                <img class="conf" src="../../../../assets/img/images/persons/001_00.jpg" alt="" >
                            </a>
                          </div>
                      </div>
      
                      <div class="col-lg-6">
                        <div class="card card-lift--hover shadow border-0">
                          <a  class="" href="" data-toggle="modal" data-target="#conf2">
                            <img class="conf" src="../../../../assets/img/images/persons/001_00.jpg" alt="" >
                          </a>  
                          <!-- <div style="width: 100%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1200px" height="675px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5ed5887baaad160d5d2b0ac0" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div> -->
                        </div>
                      </div>
                    </div>



                    <div class="row row-grid">
                      <div class="col-lg-6">
                          <div class="card card-lift--hover shadow border-0">
                            <a  class="" href="" data-toggle="modal" data-target="#conf3">
                                <img class="conf" src="../../../../assets/img/images/persons/001_00.jpg" alt="" >
                            </a>
                          </div>
                      </div>
      
                      <div class="col-lg-6">
                        <div class="card card-lift--hover shadow border-0">
                          <a  class="" href="" data-toggle="modal" data-target="#conf4">
                            <img class="conf" src="../../../../assets/img/images/persons/001_00.jpg" alt="" >
                          </a>  
                          <!-- <div style="width: 100%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1200px" height="675px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5ed5887baaad160d5d2b0ac0" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div> -->
                        </div>
                      </div>
                    </div>

                    <div class="row row-grid">
                      <div class="col-lg-6">
                          <div class="card card-lift--hover shadow border-0">
                            <a  class="" href="" data-toggle="modal" data-target="#conf5">
                                <img class="conf" src="../../../../assets/img/images/persons/001_00.jpg" alt="" >
                            </a>
                          </div>
                      </div>
      
                      <div class="col-lg-6">
                        <div class="card card-lift--hover shadow border-0">
                          <a  class="" href="" data-toggle="modal" data-target="#conf6">
                            <img class="conf" src="../../../../assets/img/images/persons/001_00.jpg" alt="" >
                          </a>  
                          <!-- <div style="width: 100%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1200px" height="675px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5ed5887baaad160d5d2b0ac0" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div> -->
                        </div>
                      </div>
                    </div>
      
      
      
                    <!-- <div class="row row-grid">
                      <div class="col-lg-6">
                        <div class="card card-lift--hover shadow border-0">
                          <div style="width: 100%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1200px" height="675px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5ed588206232ee0d566771c7" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
                        </div>
                      </div>
      
                      <div class="col-lg-6">
                        <div class="card card-lift--hover shadow border-0">
                          <div style="width: 100%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1200px" height="675px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5ed573516232ee0d56677038" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
                        </div>
                      </div>
                    </div>
      
      
                    <div class="row row-grid">
                      <div class="col-lg-6">
                        <div class="card card-lift--hover shadow border-0">
                          <div style="width: 100%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1200px" height="675px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5ed578f92d94480d7fe64d75" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
                        </div>
                      </div>
      
                      <div class="col-lg-6">
                        <div class="card card-lift--hover shadow border-0">
                          <div style="width: 100%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1200px" height="675px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5ed58577fc2f770d86928c43" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
                        </div>
                      </div>
                    </div> -->
                    
                    
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </section>
      <!-- 1st Hero Variation -->
    </div>


<!-- Modal -->

<div class="modal fade bd-example-modal-lg" id="conf1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img class="logo" src="./assets/img/images/logo-color.png">
        <h2 class="modal-title">Dr. Luciano Concheiro Bórquez</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Licenciado en Economía (1993), Maestro en Economía Internacional (1998) y Doctor en Ciencias Económicas (2009). </p>
        <p>Perfil PRODEP vigente.</p>
        <p> <strong> Área de investigación: </strong> Desarrollo y competitividad agroalimentaria.  </p>
        <p>Participación en 11 proyectos de investigación de los cuales en uno como investigador responsable. </p>
        <p>Imparte los siguientes cursos en licenciatura y posgrado: </p>
          <ul>
            <li>Macroeconomía</li>
            <li>Macroeconomía II</li>
            <li>Ingeniería de la Tasación I</li>
            <li>Ingeniería de la Tasación II</li>
          </ul>
          <p>Cuenta con 28 años de experiencia docente en: </p>
          <ul>
            <li>FACULTAD DE ECONOMÍA Y RELACIONES INTERNACIONALES</li>
            <li>UNIVERSIDAD AUTÓNOMA DE BAJA CALIFORNIA, CAMPUS TIJUANA, BAJA CALIFORNIA</li>
          </ul>
          <p>Ha sido Codirector de dos tesis en licenciatura y dos en posgrado. </p>
          <p>Cuenta con 6 Sinodalias.</p>
          <p>Es coautor de dos libros, cuatro capítulos en libros y seis artículos.</p>
          <p>Es miembro del Comité de Servicio Social en la FEyRI y Miembro del Núcleo Básico y del Comité de Estudios de Posgrado de la Maestría en Valuación.  </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade bd-example-modal-lg" id="conf2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img class="logo" src="./assets/img/images/logo-color.png">
        <h2 class="modal-title" id="conf1">Dra. María Clara Rangel Galvis</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        Pendiente

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="conf3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img class="logo" src="./assets/img/images/logo-color.png">
        <h2 class="modal-title" id="conf1">Dra. Gabriela de la Cruz Flores</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        Pendiente

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade bd-example-modal-lg" id="conf4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img class="logo" src="./assets/img/images/logo-color.png">
        <h2 class="modal-title" id="conf1">Dr. Ángel Gabilondo Pujol</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        Pendiente

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade bd-example-modal-lg" id="conf5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img class="logo" src="./assets/img/images/logo-color.png">
        <h2 class="modal-title" id="conf1">Dr. José Ramiro Martíz Flórez </h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        Pendiente

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade bd-example-modal-lg" id="conf6" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img class="logo" src="./assets/img/images/logo-color.png">
        <h2 class="modal-title" id="conf1">Dra. Marion Whitney Lloyd </h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        Pendiente

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

   





</main>