<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-unam-oro">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="display-3  text-white">Ejes temáticos</h1>
              <div class="lead text-white">
                <p >
                  En correspondencia con la visión Integradora, inclusiva y global que se busca fomentar en este congreso, se ofrecen siete ejes temáticos como dimensiones que desde el punto de vista del Comité Organizador y el Comité Científico incluyen los referentes de innovación y equidad educativa que demandan los entornos educativos de calidad. 
                </p>
                <p>En este apartado se presentan los ejes temáticos con sus respectivos temas o subtemas que se contemplan para cada uno de ellos, lo que permite respaldar la apertura para recibir presentaciones de trabajos de innovación implementados por los profesores que ejercen la docencia en las Instituciones de Educación Superior. Esta propuesta surge de las necesidades de formación de los profesionistas y las competencias que se requieren para cumplir con responsabilidad la función social de la educación, en la generación de profesionistas, íntegros, autónomos y éticos.</p>

              </div>
              
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  <section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                    <!-- <img src="../../../assets/img/images/balance.png" alt=""> -->
                  <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                      <span class="material-icons">gavel</span>
                    <i class="ni ni-eject"></i> 
                  </div>
                  <h3 class="text-primary text-uppercase">Equidad educativa y factor humano</h3>
                  <p class="description mt-3">
                    La educación es, en esencia, formación de la persona y ello incluye necesariamente la transmisión de valores éticos, estéticos y religiosos. El aprendizaje como un proceso de gran complejidad, implica la realización de una docenia en la diversidad, para poder fomentar la equidad, planeando, innovando y creando escenarios incluyentes para otorgar una enseñanza que asegure la igualdad de condiciones y de oportunidades para que todos logren con éxito su formación profesional.
                  </p>
                  <div>
                    <span class="badge badge-pill badge-primary">igualdad</span>
                    <span class="badge badge-pill badge-primary">valores</span>
                    <span class="badge badge-pill badge-primary">socioformación</span>
                  </div>
                  <!-- <a [routerLink]="['/eje/equidad']" class="btn btn-primary mt-4">Ver más</a> -->
                  <button type="button" class="btn btn-primary mt-4" data-toggle="modal" data-target="#eje-equidad">Ver más</button>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                    <i class="ni ni-books"></i>
                  </div>
                  <h3 class="text-primary text-uppercase">Innovación tenológica en educación</h3>
                  <p class="description mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, repellendus beatae cumque, assumenda ut veritatis sed molestiae mollitia quis repudiandae, non alias tempora perspiciatis similique quasi rem ipsa natus dolorem!.</p>
                  <div>
                    <span class="badge badge-pill badge-primary">3D</span>
                    <span class="badge badge-pill badge-primary">MOOOC</span>
                    <span class="badge badge-pill badge-primary">alfabetización</span>
                  </div>
                  <!-- <a [routerLink]="['/eje/innovacion']" class="btn btn-primary mt-4">Ver más</a> -->
                  <button type="button" class="btn btn-primary mt-4" data-toggle="modal" data-target="#eje-innovacion">Ver más</button>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                      <!-- <span class="material-icons">icon-brain</span> -->
                      <!-- <i class="ni ni-icon-brain"></i> -->
                      <img src="https://img.icons8.com/material-outlined/24/000000/brainstorm-skill.png"/>
                  </div>
                  <h3 class="text-primary text-uppercase">Procesos de aprendizaje</h3>
                  <p class="description mt-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, deleniti explicabo quos labore quaerat omnis, commodi ratione dolor vitae laboriosam, praesentium aperiam repellendus minima natus ipsa tempora? Provident, non. Id..</p>
                  <div>
                    <span class="badge badge-pill badge-primary">Aprendizaje cooperativo</span>
                    <span class="badge badge-pill badge-primary">Gamificación</span>
                    <span class="badge badge-pill badge-primary">Multidisciplinariedad</span>
                  </div>
                  <button type="button" class="btn btn-primary mt-4" data-toggle="modal" data-target="#eje-procesos">Ver más</button>
                </div>
              </div>
            </div>
          </div>

          <div class="row row-grid">
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                      
                    <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                        <span class="material-icons">
                          <mat-icon>group_work</mat-icon>
                        </span>
                    </div>
                    <h3 class="text-primary text-uppercase">Investigación educativa</h3>
                    <p class="description mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi odio accusamus odit provident fugiat facilis, natus error rem! Accusantium voluptas numquam similique veniam eaque magnam voluptatem saepe, autem consectetur quibusdam?.</p>
                    <div>
                      <span class="badge badge-pill badge-primary">metodologías</span>
                      <span class="badge badge-pill badge-primary">tecnologías en educación</span>
                      <span class="badge badge-pill badge-primary">formación</span>
                      <span class="badge badge-pill badge-primary">capacitación</span>
                    </div>
                    <button type="button" class="btn btn-primary mt-4" data-toggle="modal" data-target="#eje-investigacion">Ver más</button>
                    <!-- <a href="javascript:void(0)" class="btn btn-primary mt-4">Ver más</a> -->
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                      <img src="https://img.icons8.com/material/24/000000/meeting-room.png"/>
                    </div>
                    <h3 class="text-primary text-uppercase">Gestión y políticas educativas</h3>
                    <p class="description mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, repellendus beatae cumque, assumenda ut veritatis sed molestiae mollitia quis repudiandae, non alias tempora perspiciatis similique quasi rem ipsa natus dolorem!.</p>
                    <div>
                      <span class="badge badge-pill badge-primary">business</span>
                      <span class="badge badge-pill badge-primary">vision</span>
                      <span class="badge badge-pill badge-primary">primary</span>
                    </div>
                    <button type="button" class="btn btn-primary mt-4" data-toggle="modal" data-target="#eje-politicas">Ver más</button>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                      <img src="https://img.icons8.com/ios-glyphs/24/000000/training.png"/>
                    </div>
                    <h3 class="text-primary text-uppercase">Evaluación para el aprendizaje</h3>
                    <p class="description mt-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, deleniti explicabo quos labore quaerat omnis, commodi ratione dolor vitae laboriosam, praesentium aperiam repellendus minima natus ipsa tempora? Provident, non. Id..</p>
                    <div>
                      <span class="badge badge-pill badge-primary">marketing</span>
                      <span class="badge badge-pill badge-primary">product</span>
                      <span class="badge badge-pill badge-primary">launch</span>
                    </div>
                    <button type="button" class="btn btn-primary mt-4" data-toggle="modal" data-target="#eje-evaluacion">Ver más</button>
                  </div>
                </div>
              </div>
          </div>

          <div class="row row-grid">
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                      <span class="material-icons">
                        <mat-icon>palette</mat-icon>
                      </span>
                    </div>
                    <h3 class="text-primary text-uppercase">Innovación en la cultura, humanidades y arte</h3>
                    <p class="description mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi odio accusamus odit provident fugiat facilis, natus error rem! Accusantium voluptas numquam similique veniam eaque magnam voluptatem saepe, autem consectetur quibusdam?.</p>
                    <div>
                      <span class="badge badge-pill badge-primary">angular</span>
                      <span class="badge badge-pill badge-primary">ng-bootstrap</span>
                      <span class="badge badge-pill badge-primary">creative</span>
                    </div>
                    <a href="javascript:void(0)" class="btn btn-primary mt-4">Ver más</a>
                  </div>
                </div>
              </div>
             
          </div>
        </div>
      </div>
    </div>
  </section>





<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="eje-equidad" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img class="logo" src="./assets/img/images/logo-color.png">
        <h2 class="modal-title" id="eje-equidad">Equidad educativa y factor humano</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div style="width: 100%;"><div style="position: relative; padding-bottom: 50.00%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1600px" height="800px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5ed7f63a55d98e0d8841ef0b" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="eje-innovacion" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img  class="logo" src="./assets/img/images/logo-color.png">
        <h2 class="modal-title" id="innovacion">Innovación tecnológica en educación</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div style="width: 100%;"><div style="position: relative; padding-bottom: 200.00%; padding-top: 0; height: 0;"><iframe frameborder="0" width="800px" height="1600px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5ecc315bc9f5190d9a956fe1" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="eje-procesos" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img class="logo" src="./assets/img/images/logo-color.png">
        <h2 class="modal-title" id="eje-procesos">Procesos de aprendizaje</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div style="width: 100%;"><div style="position: relative; padding-bottom: 200.00%; padding-top: 0; height: 0;"><iframe frameborder="0" width="800px" height="1600px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5ed8070bf610f80d997a13f4" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="eje-investigacion" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img class="logo" src="./assets/img/images/logo-color.png">
        <h2 class="modal-title" id="eje-investigacion">Investigación educativa</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <div style="width: 100%;"><div style="position: relative; padding-bottom: 200.00%; padding-top: 0; height: 0;"><iframe frameborder="0" width="800px" height="1600px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5ecc3d8cc9f5190d9a9571b6" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div> -->
        <div style="width: 100%;"><div style="position: relative; padding-bottom: 200.00%; padding-top: 0; height: 0;"><iframe frameborder="0" width="800px" height="1600px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5ed8115655d98e0d8841f154" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="eje-investigacion" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img class="logo" src="./assets/img/images/logo-color.png">
        <h2 class="modal-title" id="eje-investigacion">Investigación educativa</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <div style="width: 100%;"><div style="position: relative; padding-bottom: 200.00%; padding-top: 0; height: 0;"><iframe frameborder="0" width="800px" height="1600px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5ecc3d8cc9f5190d9a9571b6" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div> -->
        <div style="width: 100%;"><div style="position: relative; padding-bottom: 200.00%; padding-top: 0; height: 0;"><iframe frameborder="0" width="800px" height="1600px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5ed8115655d98e0d8841f154" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="eje-politicas" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img class="logo" src="./assets/img/images/logo-color.png">
        <h2 class="modal-title" id="eje-politicas">Gestión y políticas educativas</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div style="width: 100%;"><div style="position: relative; padding-bottom: 50.00%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1600px" height="800px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5ed867934ece6a0d8fc8873c" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="eje-evaluacion" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img class="logo" src="./assets/img/images/logo-color.png">
        <h2 class="modal-title" id="eje-equidad">Evaluación para el aprendizaje</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div style="width: 100%;"><div style="position: relative; padding-bottom: 50.00%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1600px" height="800px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5ed85fa7d45fd50da05773f5" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>




<!-- Modal -->
<!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->




</main>
