<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-unam-azul">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="display-3  text-white">Ejes temáticos</h1>
              <div class="lead text-white">
                <p >
                  En correspondencia con la visión Integradora, inclusiva y global que se busca fomentar en este congreso, se ofrecen siete ejes temáticos como dimensiones que desde el punto de vista del Comité Organizador y el Comité Científico incluyen los referentes de innovación y equidad educativa que demandan los entornos educativos de calidad. 
                </p>
                <p>En este apartado se presentan los ejes temáticos con sus respectivos temas o subtemas que se contemplan para cada uno de ellos, lo que permite respaldar la apertura para recibir presentaciones de trabajos de innovación implementados por los profesores que ejercen la docencia en las Instituciones de Educación Superior. Esta propuesta surge de las necesidades de formación de los profesionistas y las competencias que se requieren para cumplir con responsabilidad la función social de la educación, en la generación de profesionistas, íntegros, autónomos y éticos.</p>

              </div>
              
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  <section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                    <!-- <img src="../../../assets/img/images/balance.png" alt=""> -->
                  <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                      <span class="material-icons">gavel</span>
                    <i class="ni ni-eject"></i> 
                  </div>
                  <h3 class="text-primary text-uppercase">Equidad educativa y factor humano</h3>
                  <p class="description mt-3">
                    La educación es, en esencia, formación de la persona y ello incluye necesariamente la transmisión de valores éticos, estéticos y religiosos. El aprendizaje como un proceso de gran complejidad, implica la realización de una docenia en la diversidad, para poder fomentar la equidad, planeando, innovando y creando escenarios incluyentes para otorgar una enseñanza que asegure la igualdad de condiciones y de oportunidades para que todos logren con éxito su formación profesional.
                  </p>
                  <div>
                    <span class="badge badge-pill badge-primary">socioformación</span>
                    <span class="badge badge-pill badge-primary">inclusión</span>
                    <span class="badge badge-pill badge-primary">igualdad</span>
                  </div>

                  <button type="button" class="btn btn-primary mt-4" data-toggle="modal" data-target="#eje-equidad">Ver más</button>
                  <button [routerLink]="['/equidad/']" fragment="equidad"
                    type="button" class="btn btn-info mt-4">Ver programa</button>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                    <i class="ni ni-books"></i>
                  </div>
                  <h3 class="text-primary text-uppercase">Innovación tenológica en educación</h3>
                  <p class="description mt-3">
                    La integración de las TIC´s como apoyo en el proceso de enseñanza y aprendizaje ha sido, durante los últimos 25 años, tema de interés de instituciones educativas. Las evidencias como recursos ante las exigencias educativas actuales, inspiran a que las tecnologías se conviertan en un elemento imprescindible para potenciar la eficiencia en el proceso de enseñanza-aprendizaje.
                  </p>
                  <p class="description mt-3">
                    La educación a distancia, y las redes sociales con fines académicos, incuestionablemente han facilitado la comunicación, el aprendizaje, y el fortalecimiento de competencias. Dada su relevancia, asignamos un espacio específico para la presentación de investigaciones, trabajos y/o proyectos vinculados al empleo de estas herramientas.
                  </p>

                  <div>
                    <span class="badge badge-pill badge-primary">creación</span>
                    <span class="badge badge-pill badge-primary">migración</span>
                    <span class="badge badge-pill badge-primary">globalización</span>
                    <span class="badge badge-pill badge-primary">gamificación</span>
                  </div>
                  <!-- <a [routerLink]="['/eje/innovacion']" class="btn btn-primary mt-4">Ver más</a> -->
                  <button type="button" class="btn btn-primary mt-4" data-toggle="modal" data-target="#eje-innovacion">Ver más</button>
                  <button [routerLink]="['/inn/']" fragment="inn"
                    type="button" class="btn btn-info mt-4">Ver programa</button>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                      <!-- <span class="material-icons">icon-brain</span> -->
                      <!-- <i class="ni ni-icon-brain"></i> -->
                      <img src="https://img.icons8.com/material-outlined/24/000000/brainstorm-skill.png"/>
                  </div>
                  <h3 class="text-primary text-uppercase">Procesos de aprendizaje</h3>
                  <p class="description mt-3">
                    La capacidad creativa, la innovación, el cambio que cada día realiza el docente responde sin lugar a dudas a las necesidades de privilegiar la metacognición en el proceso de aprendizaje. La experiencia y complejidad en la práctica docente suscita en los docentes la reflexión y el cuestionamiento, propiciando una actitud flexible, ética y empática en su actuación. El compromiso docente en este proceso se traduce en la implementación de metodologías y estrategias que le permiten respaldar la eficiencia exitosa de su labor. La inclusión de este eje en nuestro Congreso, ofrece a los docentes un espacio propio para compartir los resultados de las actividades, trabajos e investigaciones de innovación realizadas en torno a su práctica docente.
                  </p>
                  <div>
                    <span class="badge badge-pill badge-primary">gestión</span>
                    <span class="badge badge-pill badge-primary">inteligencia constructiva</span>
                    <span class="badge badge-pill badge-primary">colaboración</span>
                    <span class="badge badge-pill badge-primary">metacognición</span>
                  </div>
                  <button type="button" class="btn btn-primary mt-4" data-toggle="modal" data-target="#eje-procesos">Ver más</button>
                  <button [routerLink]="['/procesos/']" fragment="procesos"
                    type="button" class="btn btn-info mt-4">Ver programa</button>
                </div>
              </div>
            </div>
          </div>

          <div class="row row-grid">
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                      
                    <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                        <span class="material-icons">
                          <mat-icon>group_work</mat-icon>
                        </span>
                    </div>
                    <h3 class="text-primary text-uppercase">Investigación educativa</h3>
                    <p class="description mt-3">
                      En el ámbito educativo, la investigación como función inherente a una labor docente de calidad, se instituye en una dimensión fundamental para la innovación y transformación de las instituciones educativas, ante ello en este apartado se abre un espacio para compartir las indagaciones realizadas en torno al proceso de enseñanza-aprendizaje para su mejoramiento.
                      </p>
                    <div>
                      <span class="badge badge-pill badge-primary">transformación</span>
                      <span class="badge badge-pill badge-primary">capacitación</span>
                      <span class="badge badge-pill badge-primary">evaluación educativa</span>
                    </div>
                    <button type="button" class="btn btn-primary mt-4" data-toggle="modal" data-target="#eje-investigacion">Ver más</button>
                    <button [routerLink]="['/investigacion/']" fragment="investigacion"
                    type="button" class="btn btn-info mt-4">Ver programa</button>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                      <img src="https://img.icons8.com/material/24/000000/meeting-room.png"/>
                    </div>
                    <h3 class="text-primary text-uppercase">Gestión y políticas educativas</h3>
                    <p class="description mt-3">
                      La mejora permanente de las Instituciones de Educación Superior debe ir acompañada del impulso de políticas académicas y de gestión centradas en  la calidad de la educación. En este espacio se podrán compartir experiencias y proyectos institucionales que hagan patente su trascendencia para lograr entornos y asignación de recursos que aseguren la excelencia de las instituciones educativas con responsabilidad social.
                    </p>
                    <div>
                      <span class="badge badge-pill badge-primary">competencias transdisciplinarias</span>
                      <span class="badge badge-pill badge-primary">liderazgo</span>
                      <span class="badge badge-pill badge-primary">formación docente</span>
                    </div>
                    <button type="button" class="btn btn-primary mt-4" data-toggle="modal" data-target="#eje-politicas">Ver más</button>
                    <button [routerLink]="['/politicas/']" fragment="politicas"
                    type="button" class="btn btn-info mt-4">Ver programa</button>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                      <img src="https://img.icons8.com/ios-glyphs/24/000000/training.png"/>
                    </div>
                    <h3 class="text-primary text-uppercase">Evaluación para el aprendizaje</h3>
                    <p class="description mt-3">
                      La evaluación para el aprendizaje, como binomios inseparables en la labor docente, e inherente a la calidad educativa, es un proceso complejo que le acompaña y se instituye como referente para la mejora continua del proceso de enseñanza y de aprendizaje. Sin evaluación no hay reflexión, sin la evaluación no hay cambio. En este apartado se presentarán las experiencias de intervención, e investigaciones asociadas con la innovación en los procesos de evaluación y sus aportes para el diseño de políticas educativas actuales.
                    </p>
                    <div>
                      <span class="badge badge-pill badge-primary">calidad educativa</span>
                      <span class="badge badge-pill badge-primary">transformación</span>
                      <span class="badge badge-pill badge-primary">certidumbre</span>
                    </div>
                    <button type="button" class="btn btn-primary mt-4" data-toggle="modal" data-target="#eje-evaluacion">Ver más</button>
                    <button [routerLink]="['/evaluacion/']" fragment="evaluacion"
                    type="button" class="btn btn-info mt-4">Ver programa</button>
                  </div>
                </div>
              </div>
          </div>

          <div class="row row-grid">
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                      <span class="material-icons">
                        <mat-icon>palette</mat-icon>
                      </span>
                    </div>
                    <h3 class="text-primary text-uppercase">Innovación en la cultura, humanidades y arte</h3>
                    <p class="description mt-3">
                      En este eje temático se abre un espacio para compartir la innovación efectuada en la cultura, las artes y humanidades, como transformaciones que responden a las necesidades actuales en la recuperación de la dimensión social y formación integral y la cultura. 
                    </p>
                    <div>
                      <span class="badge badge-pill badge-primary">interculturalidad</span>
                      <span class="badge badge-pill badge-primary">nuevas estéticas</span>
                    </div>
                    <button type="button" class="btn btn-primary mt-4" data-toggle="modal" data-target="#eje-cultura">Ver más</button>
                    <button [routerLink]="['/cultura/']" fragment="cultura"
                    type="button" class="btn btn-info mt-4">Ver programa</button>
                  </div>
                </div>
              </div>
             
          </div>
        </div>
      </div>
    </div>
  </section>





<app-ejes-modals></app-ejes-modals>


<!-- Modal -->

<!-- Modal -->
<!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->




</main>
