<main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg section-shaped pb-250">
        <div class="shape shape-style-1 shape-unam-oro">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container py-lg-md d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-6">
                <h1 class="display-3  text-white">Comité Organizador
                  <span>Una visión integradora desde las IES</span>
                </h1>
                <p class="lead text-white">El Congreso Virtual Internacional de INNOVACIÓN Y EQUIDAD EDUCATIVA tiene como objetivo crear un espacio de intercambio de 
                    <span class="text-unam-azul"><strong> experiencias</strong></span> de 
                    <span class="text-unam-azul"><strong> innovaciones</strong></span> e <span class="text-unam-azul"><strong> investigaciones</strong></span>,
                    desarrolladas en torno a la innovación y equidad en las instituciones de educación superior.</p>
                <!-- <div class="btn-wrapper">
                  <a href="https://demos.creative-tim.com/argon-design-system-angular/documentation/alerts?ref=adsa-landing-page" class="btn btn-info btn-icon mb-3 mb-sm-0">
                    <span class="btn-inner--icon"><i class="fa fa-code"></i></span>
                    <span class="btn-inner--text">Components</span>
                  </a>
                  <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-landing-page" class="btn btn-white btn-icon mb-3 mb-sm-0">
                    <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span>
                    <span class="btn-inner--text">Download Angular</span>
                  </a>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </section>
      <!-- 1st Hero Variation -->
    </div>
    <section class="section section-lg pt-lg-0 mt--200">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="row row-grid">
              <div class="col-lg-6">
                <div class="card card-lift--hover shadow border-0">
                  <a  class="" href="" data-toggle="modal" data-target="#conf1">
                      <img class="conf" src="../../../../assets/img/images/persons/org-laura-acosta.jpg" alt="" >
                  </a>
                </div>
                <!-- <div class="card card-lift--hover shadow border-0">
                    <div style="width: 100%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1200px" height="675px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5ed6cc3bf610f80d997a04e4" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
                </div> -->
              </div>
              <div class="col-lg-6">
                <div class="card card-lift--hover shadow border-0">
                  <a  class="" href="" data-toggle="modal" data-target="#conf2">
                      <img class="conf" src="../../../../assets/img/images/persons/org-de la fuente.jpg" alt="" >
                  </a>
                </div>
              </div>
              
            </div>

            <div class="row row-grid">
              <div class="col-lg-6">
                <div class="card card-lift--hover shadow border-0">
                  <a  class="" href="" data-toggle="modal" data-target="#conf3">
                      <img class="conf" src="../../../../assets/img/images/persons/001_00 2.jpg" alt="" >
                  </a>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card card-lift--hover shadow border-0">
                  <a  class="" href="" data-toggle="modal" data-target="#conf4">
                      <img class="conf" src="../../../../assets/img/images/persons/001_00 2.jpg" alt="" >
                  </a>
                </div>
              </div>
             
          </div>
          
            <!-- <div class="row row-grid">
                <div class="col-lg-6">
                  <div class="card card-lift--hover shadow border-0">
                    <div style="width: 100%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1200px" height="675px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5ed6d1d3f610f80d997a0555" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="card card-lift--hover shadow border-0">
                    <div style="width: 100%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1200px" height="675px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5ed6d27655d98e0d8841e0f6" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
                  </div>
                </div>
               
            </div> -->

            
          </div>
        </div>
      </div>
    </section>

<!-- Modal -->

<div class="modal fade bd-example-modal-lg" id="conf1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img class="logo" src="./assets/img/images/logo-color.png">
        <h2 class="modal-title">Dra. Laura Susana Acosta Torres</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Cirujana Dentista por la Facultad de Odontología de la UNAM, es Doctora en Ciencias
          con Mención Honorifica por la División de Estudios de Posgrado e Investigación de la
          Facultad de Odontología de la UNAM; realizó una estancia posdoctoral en el Centro
          de Física Aplicada y Tecnología Avanzada, UNAM, campus Juriquilla. </p>
        <p>Profesora de Carrera de Tiempo Completo Titular “A” Definitiva, adscrita a la Escuela
          Nacional de Estudios Superiores Unidad León de la UNAM, es PRIDE D de la UNAM
          y pertenece al Sistema Nacional de Investigadores Nivel 1 del CONACYT. Es Miembro
          Académico Numerario de la Academia Nacional de Medicina de México.</p>
        <p>Fue responsable de la Licenciatura en Odontología de la ENES Unidad León y
          fundadora del Área de Investigación en Nanoestructuras y Biomateriales del
          Laboratorio de Investigación Interdisciplinaria de la ENES León.</p>
        <p>Actualmente es Directora de la Escuela Nacional de Estudios Superiores, Unidad
          León de la UNAM.</p>
        <p>La Dra. Acosta es Profesora y Tutora a Nivel Maestría y Doctorado del Programa de
          Maestría y Doctorado en Ciencias Médicas, Odontológicas y de la Salud y del Posgrado
          en Ciencias Biológicas de la UNAM. Es integrante de la Red Temática Farmoquímicos
          del CONACyT. </p>
        <p>Cuenta con 29 artículos publicados en revistas indizadas en JCR y 24 artículos en
          revistas arbitradas, 2 libros y 3 capítulos de libro, 9 artículos de divulgación y cuenta
          con el registro de derechos de autor de 3 manuales de prácticas experimentales.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="conf2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img class="logo" src="./assets/img/images/logo-color.png">
        <h2 class="modal-title" id="conf1">Dr. Javier de la Fuente Hernández</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <p>Cirujano Dentista por la Facultad de Odontología de la UNAM, Maestro en Ciencias
          por la University of London y London Hospital Medical College; cuenta con la
          Especialidad en Docencia de la Odontología y obtuvo el grado de Doctor en Equidad
          e Innovación en Educación por la Universidad de Oviedo, España.</p>
        <p>Actualmente es Profesor de Carrera de Tiempo Completo Titular “C” Definitivo,
          adscrito a la Escuela Nacional de Estudios Superiores Unidad León de la UNAM.
          Desde enero de 2015 es PRIDE D de la UNAM y pertenece al Sistema Nacional de
          Investigadores Nivel I de CONACYT.</p>
        <p>Es Titular de la Unidad de Extensión San Miguel de Allende, de la ENES León.
          Fundador y Director de la Revista Entreciencias Diálogos en la Sociedad del
          Conocimiento de la ENES León.</p>
        <p>Fue Director de la Facultad de Odontología de la UNAM durante dos periodos. Se
          desempeñó como Secretario de Desarrollo Institucional de la UNAM; fue el fundador
          y primer Director de la ENES León, y en el 2017 oc</p>
        <p>Cuenta con 40 artículos de impacto internacional y 39 de impacto nacional, autoría
          de 7 libros, coautor de 5 capítulos de libros internacionales y en 10 libros nacionales,
          autoría en 4 materiales didácticos, un registro público de derecho de autor y un
          reporte técnico</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="conf3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img class="logo" src="./assets/img/images/logo-color.png">
        <h2 class="modal-title" id="conf1">Dra. Adriana Martínez de Wurtz</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        Pendiente

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade bd-example-modal-lg" id="conf4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img class="logo" src="./assets/img/images/logo-color.png">
        <h2 class="modal-title" id="conf1">Dra. María Cristina Sifuentes Valenzuela </h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        Pendiente

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


</main>
  