<footer class="footer" [ngClass]="{'has-cards': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login'}">
  
  <div class="container">
    <section class="section section-lg">
      <div class="container">
        <div class="row row-grid justify-content-center">
          <div class="col-lg-12 text-center">
            <h2>Comité Científico</h2>
            <div class="text-center">
              <div class="row justify-content-center">


                <div class="col-lg-2 col-4">
                  <a placement="top" ngbTooltip="ENES Unidad León, UNAM">
                    <img src="../../../assets/img/images/logos/comite-c/logo-enes-azul.png" class="img-fluid">
                    <!-- <img src="../../../assets/img/images/logos/logo-enes-leon-azul.png" class="img-fluid"> -->
                  </a>
                </div>

                <div class="col-lg-2 col-4">
                  <a placement="top" ngbTooltip="CUAIEED">
                    <img src="../../../assets/img/images/logos/comite-c/cuaieed.png" class="img-fluid">
                  </a>
                </div>


                <div class="col-lg-2 col-4">
                  <a placement="top" ngbTooltip="ENES Unidad Morelia, UNAM">
                    <img src="../../../assets/img/images/logos/comite-c/logo-enes-morelia.png" class="img-fluid">
                  </a>
                </div>



                <div class="col-lg-2 col-4">
                  <a placement="top" ngbTooltip="ENES Unidad Juriquilla, UNAM">
                    <img src="../../../assets/img/images/logos/comite-c/juriquilla.png" class="img-fluid">
                  </a>
                </div>


              
             
              </div>
              <br>

              <div class="row justify-content-center">

                <div class="col-lg-2 col-4">
                  <a placement="top" ngbTooltip="ENES Unidad Mérida, UNAM">
                    <img src="../../../assets/img/images/logos/comite-c/logo-merida.png" class="img-fluid">
                  </a>
                </div>


                <div class="col-lg-2 col-4">
                  <a placement="top" ngbTooltip="Universidad de Málaga">
                    <img src="../../../assets/img/images/logos/comite-c/malaga.png">
                    <!-- <img src="../../../assets/img/images/logos/logo-malaga-azul.png" class="img-fluid"> -->
                  </a>
                </div>

                <div class="col-lg-2 col-4">
                  <a placement="top" ngbTooltip="Universidad Zaragoza">
                    <img src="../../../assets/img/images/logos/comite-c/logo-zaragoza.png">
                    <!-- <img src="../../../assets/img/images/logos/comite-c/logo-unir.png" class="img-fluid"> -->
                    <!-- <img src="../../../assets/img/images/logos/comite-c/logo-almeria.png" class="img-fluid"> -->
                  </a>
                  
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    
    
    
    <hr>
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright">
          &copy; {{test | date: 'yyyy'}}
          <a href="https://enes.unam.mx/" target="_blank">ENES UNAM Unidad León</a>
        </div>
      </div>
     
      <div class="col-lg-6 text-lg-center btn-wrapper">
        <a href="https://twitter.com/ENESUNAMLEON" target="_blank" class="btn btn-neutral btn-icon-only btn-twitter btn-round btn-lg" ngbTooltip="Síguenos">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="https://www.facebook.com/ENESUNAMLEON/" target="_blank"  class="btn btn-neutral btn-icon-only btn-facebook btn-round btn-lg" ngbTooltip="Danos Like">
          <i class="fa fa-facebook-square"></i>
        </a>
      </div>
      
    </div>
  </div>
</footer>
