<main>
    <div class="position-relative">
        <section class="section section-lg section-hero section-shaped">
            <!-- Background circles -->
            <div class="shape shape-style-1 shape-unam-oro">
              <span class="span-150"></span>
              <span class="span-50"></span>
              <span class="span-50"></span>
              <span class="span-75"></span>
              <span class="span-100"></span>
              <span class="span-75"></span>
              <span class="span-50"></span>
              <span class="span-100"></span>
              <span class="span-50"></span>
              <span class="span-100"></span>
            </div>
            <div class="container shape-container d-flex align-items-center py-lg">
              <div class="col px-0">
                <div class="col-lg-12">
                  <h1 class="display-3  text-white">Programa y Talleres</h1>
                  
                  
                  <span class=" d-block mb-1 text-center">
                    <p class="text-white">
                      Verifica el horario de tu país:
                    </p>
                      
                        <img class="bandera" src="../../../../assets/img/flags/mexico.png" alt="">
                        8:00 a 15:00 hrs / hora Ciudad de México, México
                      
                      
                      
                        <img class="bandera" src="../../../../assets/img/flags/spain.png" alt="">
                        15:00 a 22:00 hrs / hora Madrid, España
                      
                      
                     
    
                    </span> 

                </div>
                <div class="row align-items-center justify-content-center">
                  <div class="col-lg-12 text-center">
                    <div style="width: 100%;"><div style="position: relative; padding-bottom: 62.50%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1600px" height="1000px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5ecc843750a13f0dab0158d4" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
                    <!-- <div style="width: 100%;"><div style="position: relative; padding-bottom: 100.00%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1600px" height="1200px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5ecc843750a13f0dab0158d4" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div> -->

                    <!-- <div style="width: 100%;"><div style="position: relative; padding-bottom: 50.00%; padding-top: 0; height: 0;">
                      
                      <iframe frameborder="0" width="1600px" height="1600px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5ecc843750a13f0dab0158d4" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe>
                     </div>
                    </div> -->

                    <br>
                    <h1 class="display-3  text-white">Talleres</h1>
                    <div class="col-md-12 text-center">
                      <div class="row">
                        <br><br><br>
                        
                          <h1 class="text-center text-white">
                            *Para tener acceso gratuito a los talleres, se deberá
                            <a href="https://enes-congreso.web.app/#/registro">
                              inscribir al Congreso
                            </a>
                          </h1>    
                        
                      </div>

                      <div class="row">
                        <div class="col-lg-6">
                          <div style="width: 100%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1200" height="675" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/601c6519d431bb1a1c8988c2" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
                        </div>
                        <div class="col-lg-6">
                          <div style="width: 100%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1200" height="675" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/601c67444aa88b0d0b1ecd7f" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
                        </div>
                      </div>
                      
                      <br>
                      <div class="row">
                        <div class="col-lg-6">
                          <div style="width: 100%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1200" height="675" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/601c685aceca610d3534fdce" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
                        </div>
                        <div class="col-lg-6">
                          <div style="width: 100%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1200" height="675" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/601c75114aa88b0d0b1ece55" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
                        </div>
                      </div>

                      <br>
                      <div class="row">
                        <div class="col-lg-6">
                          <div style="width: 100%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1200" height="675" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/601c75c8c7e0a27d7691c4ae" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
                        </div>
                        <div class="col-lg-6">
                          <div style="width: 100%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1200" height="675" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/601c765915de920d2c224904" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
                        </div>
                      </div>


                      <br>
                      <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6">
                          <div style="width: 100%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1200" height="675" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/601c7860c7e0a27d7691c4ce" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
                        </div>
                        
                      </div>
                      <br>
                      <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6">
                          <div style="width: 100%;"><div style="position: relative; padding-bottom: 160.00%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1000" height="1600" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/601cb6a9c7e0a27d7691c8c4" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
                        </div>
                      </div>

                      <br>
                      <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6">
                          <div style="width: 100%;"><div style="position: relative; padding-bottom: 155.00%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1000" height="1550" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/601cb7fad431bb1a1c898deb" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
                        </div>
                        
                      </div>

                      <br>
                      <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6">
                          <div style="width: 100%;"><div style="position: relative; padding-bottom: 150.00%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1000" height="1500" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/601cb5bec7e0a27d7691c8b9" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
                        </div>
                      </div>

                      

                      <br>
                      <br>
                      


                    </div>



                    <!-- <h1 class="display-3  text-white">Talleres</h1>
                    <div style="width: 100%;"><div style="position: relative; padding-bottom: 137.50%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1600" height="2200" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/6021e8cc512bd80d2cede029" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div> -->
                  </div>
                  
                </div>
              </div>
            </div>
            <!-- SVG separator -->
            <div class="separator separator-bottom separator-skew zindex-100">
              <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
              </svg>
            </div>
        </section>


        <!-- <section class="section section-lg">
          <div class="container">
            <div class="row justify-content-center text-center mb-lg">
              <div class="col-lg-8">
                <h2 class="display-3">Conferencias, ponencias, mesas de trabajo y actividades culturales</h2>
                <p class="lead text-muted">
                  
                </p>
                <br><br>
              </div>

              <div >
                <div class="row row justify-content-center text-center mb-lg bandera">
                  
                  <p id="17" class="subtitle fancy"><span>17 de febrero</span></p>
                  <p id="equidad"></p>
                  <div style="width: 100%;"><div style="position: relative; padding-bottom: 62.50%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1600px" height="1000px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5f0c80787b8fc20dc2c874b3" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
                </div>
  
                <div class="row row justify-content-center text-center mb-lg bandera">      
                  <p id="inn"> </p>
                  <div style="width: 100%;"><div style="position: relative; padding-bottom: 62.50%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1600px" height="1000px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5f0c857e77697d0dbbd0e277" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
                </div>
              </div>


              <div >
                <div class="row row justify-content-center text-center mb-lg bandera">
                  <p id="18" class="subtitle fancy"><span>18 de febrero</span></p>
                  <p id="procesos"></p>
                  <div style="width: 100%;"><div style="position: relative; padding-bottom: 62.50%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1600px" height="1000px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5f0c8a60beeb6d0d6ca01a52" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
                </div>
  
                <div class="row row justify-content-center text-center mb-lg bandera">   
                  <p id="investigacion"></p>
                  <div style="width: 100%;"><div style="position: relative; padding-bottom: 62.50%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1600px" height="1000px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5f0c8aedbeeb6d0d6ca01a61" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
                </div>
              </div>


              <div >
                <div class="row row justify-content-center text-center mb-lg bandera">
                  <p id="19" class="subtitle fancy"><span>19 de febrero</span></p>
                  <p id="evaluacion"></p>     
                  <div style="width: 100%;"><div style="position: relative; padding-bottom: 62.50%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1600px" height="1000px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5f0c8b067b8fc20dc2c87544" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
                </div>
  
                <div class="row row justify-content-center text-center mb-lg bandera">    
                  <p id="politicas"></p>            
                  <div style="width: 100%;"><div style="position: relative; padding-bottom: 62.50%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1600px" height="1000px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5f0c8afb07e49a0d735b90cf" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
                </div>

                <div class="row row justify-content-center text-center mb-lg bandera">         
                  <p id="cultura"></p>       
                  <div style="width: 100%;"><div style="position: relative; padding-bottom: 62.50%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1600px" height="1000px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5f0c8b1677697d0dbbd0e2c6" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
                </div>
              </div>

            </div>
            
      
           
          </div>
        </section> -->
    </div>
   
    
    
  </main>