<main>
    <div class="position-relative">
        <section class="section section-lg section-hero section-shaped">
            <!-- Background circles -->
            <div class="shape shape-style-1 shape-unam-oro">
              <span class="span-150"></span>
              <span class="span-50"></span>
              <span class="span-50"></span>
              <span class="span-75"></span>
              <span class="span-100"></span>
              <span class="span-75"></span>
              <span class="span-50"></span>
              <span class="span-100"></span>
              <span class="span-50"></span>
              <span class="span-100"></span>
            </div>
            <div class="container shape-container d-flex align-items-center py-lg">
              <div class="col px-0">
                <div class="row align-items-center justify-content-center">
                  <div class="col-lg-12 text-center">
                    <div style="width: 100%;"><div style="position: relative; padding-bottom: 62.50%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1600px" height="1000px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5ecc843750a13f0dab0158d4" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
                    <!-- <div style="width: 100%;"><div style="position: relative; padding-bottom: 100.00%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1600px" height="1200px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5ecc843750a13f0dab0158d4" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div> -->

                    <!-- <div style="width: 100%;"><div style="position: relative; padding-bottom: 50.00%; padding-top: 0; height: 0;">
                      
                      <iframe frameborder="0" width="1600px" height="1600px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5ecc843750a13f0dab0158d4" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe>
                     </div>
                    </div> -->

                  </div>
                </div>
              </div>
            </div>
            <!-- SVG separator -->
            <div class="separator separator-bottom separator-skew zindex-100">
              <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
              </svg>
            </div>
        </section>


        <section class="section section-lg">
          <div class="container">
            <div class="row justify-content-center text-center mb-lg">
              <div class="col-lg-8">
                <h2 class="display-3">Conferencias, ponencias, mesas de trabajo y actividad cultural</h2>
                <p class="lead text-muted">
                  <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, nulla tempore. Architecto amet ratione sint, illo quam nam harum delectus deserunt officia quo excepturi libero a enim, fugiat suscipit nulla.                   -->
                </p>
                <br><br>
              </div>

              <div >
                <div class="row row justify-content-center text-center mb-lg bandera">
                  <!-- <h2><a id="equidad"> Miércoles 17 de febrero</a></h2> -->
                  <p id="17" class="subtitle fancy"><span>17 de febrero</span></p>
                  <div style="width: 100%;"><div style="position: relative; padding-bottom: 62.50%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1600px" height="1000px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5f0c80787b8fc20dc2c874b3" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
                </div>
  
                <div class="row row justify-content-center text-center mb-lg bandera">                
                  <div style="width: 100%;"><div style="position: relative; padding-bottom: 62.50%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1600px" height="1000px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5f0c857e77697d0dbbd0e277" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
                </div>
              </div>


              <div >
                <div class="row row justify-content-center text-center mb-lg bandera">
                  <p id="18" class="subtitle fancy"><span>18 de febrero</span></p>
                  <div style="width: 100%;"><div style="position: relative; padding-bottom: 62.50%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1600px" height="1000px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5f0c8a60beeb6d0d6ca01a52" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
                </div>
  
                <div class="row row justify-content-center text-center mb-lg bandera">                
                  <div style="width: 100%;"><div style="position: relative; padding-bottom: 62.50%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1600px" height="1000px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5f0c8aedbeeb6d0d6ca01a61" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
                </div>
              </div>


              <div >
                <div class="row row justify-content-center text-center mb-lg bandera">
                  <p id="19" class="subtitle fancy"><span>19 de febrero</span></p>
                  <div style="width: 100%;"><div style="position: relative; padding-bottom: 62.50%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1600px" height="1000px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5f0c8b067b8fc20dc2c87544" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
                </div>
  
                <div class="row row justify-content-center text-center mb-lg bandera">                
                  <div style="width: 100%;"><div style="position: relative; padding-bottom: 62.50%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1600px" height="1000px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5f0c8afb07e49a0d735b90cf" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
                </div>

                <div class="row row justify-content-center text-center mb-lg bandera">                
                  <div style="width: 100%;"><div style="position: relative; padding-bottom: 62.50%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1600px" height="1000px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5f0c8b1677697d0dbbd0e2c6" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
                </div>
              </div>










              <div>
                <br>
                <h2><a id="procesos"> Jueves 18 de febrero</a></h2>
                <img class="bandera" src="../../../assets/img/images/programa/programa-18.png" alt="">
              </div>

              <div>
                <br>
                <h2><a id="evaluacion"> Viernes 19 de febrero</a></h2>
                <img class="bandera" src="../../../assets/img/images/programa/programa-19.png" alt="">
              </div>
            </div>
            
      
           
          </div>
        </section>
    </div>
   
    
    
  </main>